<div class="dbk {{project?.project_variation_type}}" >
    <div class="row"  id="companysentiments">
        <div class="col-lg-12 col-md-12">
            <div class="dbk-box">
                <p>A detailed analysis of the networks within an organisation and patterns of influence, collaboration and information exchange, helping leaders understand group dynamics, identify key influencers and plan effective communications.</p>
                <div class="dbkb-head">
                    <h6 class="dbkb-title">EXECUTIVE SUMMARY</h6>
                </div>
                <div class="dbkb-body">
                    <p  [innerHTML]="project?.pskcs.executiveSummary" style="text-align: left"></p>
                </div>
            </div>
        </div>
    </div>
 
    <div class="row"  style="margin-top: -20px; margin-bottom: 10px"> 
        <div class="col-lg-12 col-md-12">
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link btn btn-sm" *ngIf = "project?.project_variation_type === 'InGenome'"  [ngClass]="{'active': currentView === 'bnsEnt1'}" (click)="switchView('bnsEnt1')">Entity A</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-sm" *ngIf = "project?.project_variation_type === 'InGenome'" [ngClass]="{'active': currentView === 'bnsEnt2'}" (click)="switchView('bnsEnt2')">Entity B</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right dotted">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-12">
                    <div class="dbk-box">
                        <div class="dbkb-head">
                            <h6 class="dbkb-title"><fa-icon [icon]="['fas', 'star-half-alt']"></fa-icon>OVERALL RATING</h6>
                        </div>
                        <div class="dbkb-body">
                            <div class="orater" title="{{project?.pskcs.opinion_index}}">
                                <div class="ratediv">
                                    <div class="rates">
                                        <div class="ratesd bk"><div class="ratesdcase"><div class="ratestar" *ngFor="let number of [0,1,2,3,4]"><fa-icon [icon]="['far', 'star']" ></fa-icon></div></div></div>
                                        <div class="ratesd fr" [style.width.%]="project?.pskcs.opinion_index * 20"><div class="ratesdcase"><div class="ratestar" *ngFor="let number of [0,1,2,3,4]" ><fa-icon [icon]="['fas', 'star']" ></fa-icon></div></div></div>
                                    </div>
                                </div>
                                <div class="ratelbl mbl-font"><span>OPINION INDEX</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-12">
                    <div class="dbk-box">
                        <div class="dbkb-head">
                            <h6 class="dbkb-title"><fa-icon [icon]="['fas', 'asterisk']"></fa-icon>RATING CRITERIA</h6>
                        </div>
                        <div class="dbkb-body text-left">
                            <div class="rcs">
                                <div class="rc rting_criteria" *ngFor="let rc of rcs" [ngClass]="{'red': project?.pskcs[rc.prop] < 2, 'yellow':  project?.pskcs[rc.prop] > 2 && project?.pskcs[rc.prop] < 4, 'green':  project?.pskcs[rc.prop] >= 4}" >
                                    <div class="speech-bubble_vac border speech-bubble w-75 text-left">
                                        <p>{{rc.pop_desc}}</p>
                                    </div>
                                    <div class="rc-val"><div class="rc-num">{{project?.pskcs[rc.prop]}}</div><div class="rc-tail"><fa-icon [icon]="['fas', 'circle']"></fa-icon></div></div>
                                    <div class="rc-case" >
                                        <div class="rc-icon"><fa-icon [icon]="['fas', rc.icon]"></fa-icon></div>
                                        <div class="ldBar {{rc.code}}" id="{{rc.code}}" data-preset="circle" ></div>    
                                    </div>
                                    <div class="rc-label">{{rc.label}}</div>
                                </div>
                                <div class="rc" style="background-color: #e7e5e6;">
                                    <div class="rc-val"><div class="rc-num"></div><div class="rc-tail"></div></div>
                                    <div class="rc-case" style="width: 100%;margin: 0 auto;" >
                                        <div class="" style="color: #9688E0 !important;font-size: 17px;">62:1465</div>   
                                    </div>
                                    <div class="rc-label">Influencer ratio</div>
                                </div>
                                <div class="rc" style="background-color: #e7e5e6;">
                                    <div class="rc-val"><div class="rc-num"></div><div class="rc-tail"></div></div>
                                    <div class="rc-case" style="width: 100%;margin: 0 auto;">
                                        <div class="" style="color: #9688E0 !important;font-size: 17px;">589</div>   
                                    </div>
                                    <div class="rc-label ">Number of Cliques</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row m-auto" >
       <div class="widthcls">
        <a href="#topnetworkleader">
            <div class="moodindex border text-center" >
                <p class="mi_circle mi-circle-top-network"><img class="w-50" src="assets/images/Network_Leaders.png" style="filter: opacity(0.4);"></p>
                <p style="color:black;font-size: 12px;white-space: pre-wrap;font-variant: small-caps;">Top Network Leaders </p>
            </div>
        </a>
    </div>
    <div class="widthcls">
        <a href="#topinfluencers">
            <div class="moodindex border text-center">
                <p class="mi_circle"><img  class="w-50" src="assets/images/Top_Influencer.png" style="filter: opacity(0.4);"></p>
                <p style="color:black;font-size: 12px;white-space: pre-wrap;font-variant: small-caps;" >Top Influencers </p>
            </div>
        </a>
    </div>
    <div class="widthcls">
        <a href="#topcliques">
            <div class="moodindex border text-center">
                <p class="mi_circle mi-circle-cliques"><img  class="w-50" src="assets/images/Major_CDiscovered.png" style="filter: opacity(0.4);"></p>
                <p style="color:black;font-size: 12px;white-space: pre-wrap;font-variant: small-caps;">Major Cliques Discovered</p>
            </div>
        </a>
    </div>
    <div class="widthcls">
        <a href="#topinforepositories">
            <div class="moodindex border text-center">
                <p class="mi_circle mi-circle-top-leaders"><img  class="w-50" src="assets/images/Top_Local_Leader.png" style="filter: opacity(0.4);"></p>
                <p style="color:black;font-size: 12px;white-space: pre-wrap;font-variant: small-caps;">Top Local Leaders</p>
            </div>
        </a>
    </div>
</div>	
<div class="col-lg-12 col-md-12 col-12 mb-0">
    <div class="card carddiv_height">
        <div class="card-header cardheader row pt-0 pb-0 text-right" style="background-color: white !important;">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mt-2 mb-2 offset-lg-4 offset-md-4">
             <p class="mb-0 pt-2" style="font-size: 15px">Please select network</p>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mt-2 mb-2 p-0 ">
                        <!-- <select class="form-control selcls" id="department"  [(ngModel)]="selectedbranch" (change)="getemployeedata()" [ngModelOptions]="{standalone: true}">
                            <option value="">Select Branch</option>
                            <option value="all">All</option>
                            <option *ngFor="let branchname of branchlist">{{branchname.branch_name}}</option>
                        </select> -->
                        <select class="form-control selcls" id="networks" [(ngModel)]="selectednetwork" [ngModelOptions]="{standalone: true}">
                            <option value="network0">Network 0</option>
                            <option value="network1">Network 1</option>
                            <option value="network2">Network 2</option>
                            <option value="network3">Network 3</option>
                            <option value="overall">Overall</option>
                        </select>
                    </div>
                </div>
            </div>
        </div> 
        
        <div class="row" id="topnetworkleader"> 
            <div class="col-lg-12 col-md-12 col-12" style="margin-bottom: 20px;">
                <div class="card carddiv_height" >
                    <div class="card-header cardheader cardheader-top-network"><span  style="color: white;font-variant: small-caps;font-size: 15px;">Top Network Leaders</span><span class="float-right"><a href="#companysentiments" class="purpleColor" style="color: #fff !important;"><fa-icon [icon]="['fas', 'arrow-circle-up']"></fa-icon>  Go to Top</a></span>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <!-- <div id="tnl_networkgraphcontainer" class="" style="width: 700px; float: left;"></div>  -->
                            <iframe *ngIf="selectednetwork == 'network0'" src="assets/onacharts/Network0/html/networkLeaders.html" height="300" width="100%"></iframe>
                            <iframe *ngIf="selectednetwork == 'network1'" src="assets/onacharts/Network1/html/networkLeaders.html" height="300" width="100%"></iframe>
                            <iframe *ngIf="selectednetwork == 'network2'" src="assets/onacharts/Network2/html/networkLeaders.html" height="300" width="100%"></iframe>
                            <iframe *ngIf="selectednetwork == 'network3'" src="assets/onacharts/Network2/html/networkLeaders.html" height="300" width="100%"></iframe>
                            <iframe *ngIf="selectednetwork == 'overall'" src="assets/onacharts/Overall/html/networkLeaders.html" height="300" width="100%"></iframe>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 pt-2">
                            <div id="networkgraphcontainer"  class="border-left bg-white border-bottom shadow-sm mt-4 networkgraphtbl" >
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Emp. Code / Branch / Designation</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="selectednetwork == 'network0'">
                                        <tr><td>SBI12470 / LHO Bengaluru / Deputy Manager</td></tr>
                                        <tr><td>SBI14077 / LHO Bengaluru / Chief Manager(S)</td></tr>
                                        <tr><td>SBI08144 / LHO Bengaluru / Chief Manager</td></tr>
                                        <tr><td>SBI08524 / LHO Bengaluru / Chief Manager</td></tr>
                                        <tr><td>SBI07950 / LHO Bengaluru / Asst. Gen. Manager</td></tr>
                                    </tbody>
                                    <tbody *ngIf="selectednetwork == 'network1'">
                                        <tr><td>SBI00167 / CCPC BANGALORE / Spl. Associate(CSS)</td></tr>
                                        <tr><td>SBI00039 / CCPC BANGALORE / Chief Associate(CSS)</td></tr>
                                        <tr><td>SBI00440 / CCPC BANGALORE / Spl. Associate(CSS)</td></tr>
                                        <tr><td>SBI00103 / CCPC BANGALORE / Spl. Associate(CSS)</td></tr>
                                        <tr><td>SBI10632 / CCPC BANGALORE / Manager</td></tr>
                                    </tbody>
                                    <tbody *ngIf="selectednetwork == 'network2'">
                                        <tr><td>SBI09272 / BHATKAL / Deputy Manager</td></tr>
                                        <tr><td>SBI05179 / KUNDAPUR / Associate (CSS)</td></tr>
                                        <tr><td>SBI03404 / KUNDAPUR / Spl. Associate(CSS)</td></tr>
                                        <tr><td>SBI04127 / KUNDAPUR / Associate (CSS)</td></tr>
                                        <tr><td>SBI09116 / KUNDAPUR / Manager</td></tr>
                                    </tbody>
                                    <tbody *ngIf="selectednetwork == 'network3'">
                                        <tr><td>SBI12724 / MOLAKALMURU / Other Off. on Prob.</td></tr>
                                        <tr><td>SBI14096 / MOLAKALMURU / Deputy Manager(S)</td></tr>
                                        <tr><td>SBI02966 / MOLAKALMURU / Chief Associate(CSS)</td></tr>
                                        <tr><td>SBI11342 / MOLAKALMURU / Assistant Manager</td></tr>
                                        <tr><td>SBI04960 / MOLAKALMURU / Associate (CSS)</td></tr>
                                    </tbody>
                                    <tbody *ngIf="selectednetwork == 'overall'">
                                        <tr><td>SBI09271 / KUNDAPUR / Deputy Manager</td></tr>
                                        <tr><td>SBI05179 / KUNDAPUR / Associate (CSS)</td></tr>
                                        <tr><td>SBI03404 / KUNDAPUR / Spl. Associate(CSS)</td></tr>
                                        <tr><td>SBI04127 / KUNDAPUR / Associate (CSS)</td></tr>
                                        <tr><td>SBI09116 / KUNDAPUR / Manager</td></tr>
                                    </tbody>
                                </table>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="row" id="topinfluencers"> 
            <div class="col-lg-12 col-md-12 col-12" style="margin-bottom: 20px;">
                <div class="card carddiv_height" >
                    <div class="card-header cardheader" ><span style="color: white;font-variant: small-caps;font-size: 15px;">Top Influencers</span><span class="float-right"><a href="#companysentiments" class="purpleColor" style="color: #fff !important;"><fa-icon [icon]="['fas', 'arrow-circle-up']" ></fa-icon>  Go to Top</a></span></div>
                    <div class="row">
                       <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <!-- <div id="ti_networkgraphcontainer" class="" style="width: 700px; float: left;"></div> -->
                        <iframe *ngIf="selectednetwork == 'network0'" src="assets/onacharts/Network0/html/Influencers.html" height="300" width="100%"></iframe>
                        <iframe *ngIf="selectednetwork == 'network1'" src="assets/onacharts/Network1/html/Influencers.html" height="300" width="100%"></iframe>
                        <iframe *ngIf="selectednetwork == 'network2'" src="assets/onacharts/Network2/html/Influencers.html" height="300" width="100%"></iframe>
                        <iframe *ngIf="selectednetwork == 'network3'" src="assets/onacharts/Network2/html/Influencers.html" height="300" width="100%"></iframe>
                        <iframe *ngIf="selectednetwork == 'overall'" src="assets/onacharts/Overall/html/Influencers.html" height="300" width="100%"></iframe>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 pt-2">
                     <div id="networkgraphcontainer"  class="border-left bg-white border-bottom shadow-sm mt-4 networkgraphtbl" >
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Emp. Code / Branch / Designation</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="selectednetwork == 'network0'">
                                <tr><td>SBI11856 / LHO Bengaluru / Deputy Manager</td></tr>
                                <tr><td>SBI08144 / LHO Bengaluru / Chief Manager</td></tr>
                                <tr><td>SBI08524 / LHO Bengaluru / Chief Manager</td></tr>
                                <tr><td>SBI08033 / LHO Bengaluru / Deputy Manager</td></tr>
                                <tr><td>SBI06411 / LHO Bengaluru / Sr. Associate (CSS)</td></tr>
                            </tbody>
                            <tbody *ngIf="selectednetwork == 'network1'">
                                <tr><td>SBI00891 / ZO Bangalore / Chief Associate(CSS)</td></tr>
                                <tr><td>SBI00161 / ZO Bangalore / Sr. Associate (CSS)</td></tr>
                                <tr><td>SBI08052 / ZO Bangalore / Chief Manager</td></tr>
                                <tr><td>SBI08601 / ZO Bangalore / Deputy Manager</td></tr>
                                <tr><td>SBI08119 / ZO Bangalore / Deputy Manager</td></tr>
                            </tbody>
                            <tbody *ngIf="selectednetwork == 'network2'">
                                <tr><td>SBI04495 / MANGALORE ZONE / Associate (CSS)</td></tr>
                                <tr><td>SBI10967 / Mysore / Manager</td></tr>
                                <tr><td>SBI10491 / RASMECCC Myso / Chief Manager</td></tr>
                                <tr><td>SBI13079 / RASMECCCM'lore / Manager</td></tr>
                                <tr><td>SBI10793 / RG 2 HASSAN MZ / Chief Manager</td></tr>
                            </tbody>
                            <tbody *ngIf="selectednetwork == 'network3'">
                                <tr><td>SBI11568 / CHALLAKERE / Other Off. on Prob.</td></tr>
                                <tr><td>SBI11469 / RG 3 DGEREHZ / Other Off. on Prob.</td></tr>
                                <tr><td>SBI11510 / HAVERI / Assistant Manager</td></tr>
                                <tr><td>SBI05168 / Haveri A.D.B. / Associate (CSS)</td></tr>
                                <tr><td>SBI10826 / Haveri A.D.B. / Chief Manager</td></tr>
                            </tbody>
                            <tbody *ngIf="selectednetwork == 'overall'">
                                <tr><td>SBI08695 / CB Mysore / Asst. Gen. Manager</td></tr>
                                <tr><td>SBI08184 / LHO Bengaluru / Deputy Manager</td></tr>
                                <tr><td>SBI09219 / Jalahalli / Other Off. on Prob.</td></tr>
                                <tr><td>SBI00891 / ZO Bangalore / Chief Associate(CSS)</td></tr>
                                <tr><td>SBI08052 / ZO Bangalore / Chief Manager</td></tr>
                            </tbody>
                        </table>
                    </div> 
                </div>
            </div>
        </div>
    </div>  
</div>
<div class="row" id="topcliques"> 
    <div class="col-lg-12 col-md-12 col-12" style="margin-bottom: 20px;">
        <div class="card carddiv_height">
            <div class="card-header cardheader cardheader-cliques"><span  style="color: white;font-variant: small-caps;font-size: 15px;">Major Cliques Discovered</span><span class="float-right"><a href="#companysentiments" class="purpleColor" style="color: #fff !important;"><fa-icon [icon]="['fas', 'arrow-circle-up']" ></fa-icon>  Go to Top</a></span></div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- <div id="tir_networkgraphcontainer" class="" style="width: 700px; float: left;"></div>  -->
                    <iframe *ngIf="selectednetwork == 'network0'" src="assets/onacharts/Network0/html/Cliques.html" height="300" width="100%"></iframe>
                    <iframe *ngIf="selectednetwork == 'network1'" src="assets/onacharts/Network1/html/Cliques.html" height="300" width="100%"></iframe>
                    <iframe *ngIf="selectednetwork == 'network2'" src="assets/onacharts/Network2/html/Cliques.html" height="300" width="100%"></iframe>
                    <iframe *ngIf="selectednetwork == 'network3'" src="assets/onacharts/Network2/html/Cliques.html" height="300" width="100%"></iframe>
                    <iframe *ngIf="selectednetwork == 'overall'" src="assets/onacharts/Overall/html/Cliques.html" height="300" width="100%"></iframe>
                </div>
            </div>
        </div>
    </div>  
</div>
<div class="row" id="topinforepositories"> 
    <div class="col-lg-12 col-md-12 col-12" style="margin-bottom: 20px;">
        <div class="card carddiv_height">
            <div class="card-header cardheader cardheader-top-leaders"><span style="color: white;font-variant: small-caps;font-size: 15px;">Top Local Leaders</span><span class="float-right"><a href="#companysentiments" class="purpleColor" style="color: #fff !important;"><fa-icon [icon]="['fas', 'arrow-circle-up']" ></fa-icon>  Go to Top</a></span></div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <!-- <div id="tir_networkgraphcontainer" class="" style="width: 700px; float: left;"></div>  -->
                    <iframe *ngIf="selectednetwork == 'network0'" src="assets/onacharts/Network0/html/localLeaders.html" height="300" width="100%"></iframe>
                    <iframe *ngIf="selectednetwork == 'network1'" src="assets/onacharts/Network1/html/localLeaders.html" height="300" width="100%"></iframe>
                    <iframe *ngIf="selectednetwork == 'network2'" src="assets/onacharts/Network2/html/localLeaders.html" height="300" width="100%"></iframe>
                    <iframe *ngIf="selectednetwork == 'network3'" src="assets/onacharts/Network2/html/localLeaders.html" height="300" width="100%"></iframe>
                    <iframe *ngIf="selectednetwork == 'overall'" src="assets/onacharts/Overall/html/localLeaders.html" height="300" width="100%"></iframe>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 pt-2">
                    <div id="networkgraphcontainer"  class="border-left bg-white border-bottom shadow-sm mt-4 networkgraphtbl">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Emp. Code / Branch / Designation</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="selectednetwork == 'network0'">
                                <tr><td>SBI04349 / LHO Bengaluru / Associate (CSS)</td></tr>
                                <tr><td>SBI10433 / LHO Bengaluru / Manager</td></tr>
                                <tr><td>SBI11791 / HOLE-HONNUR RD / Deputy Manager</td></tr>
                                <tr><td>SBI10312 / LHO Bengaluru / Asst. Gen. Manager</td></tr>
                                <tr><td>SBI07119 / LHO Bengaluru / Associate (CSS)</td></tr>
                            </tbody>
                            <tbody *ngIf="selectednetwork == 'network1'">
                                <tr><td>SBI01752 / ACComp  B'lore / Associate(CSS)</td></tr>
                                <tr><td>SBI00409 / TFCPC, BANGALOR / Sr. Associate (CSS)</td></tr>
                                <tr><td>SBI00279 / RACPC BANGALORE / Spl. Associate(CSS)</td></tr>
                                <tr><td>SBI01971 / KALYAN NAGAR / Associate(CSS)</td></tr>
                                <tr><td>SBI01747 / SSI Peenya,B'lo / Sr. Associate (CSS)</td></tr>
                            </tbody>
                            <tbody *ngIf="selectednetwork == 'network2'">
                                <tr><td>SBI00960 / Udupi / Jr. Associate (CSS)</td></tr>
                                <tr><td>SBI00541 / THOKKOTTU / Chief Associate(CSS)</td></tr>
                                <tr><td>SBI00806 / JAYALAKSHMIPURM / Chief Associate (CSS)</td></tr>
                                <tr><td>SBI00520 / KankanadyM'lore / Sr.RK/RK-Cashier/Cas</td></tr>
                                <tr><td>SBI00951 / Udupi / Jr. Associate (CSS)</td></tr>
                            </tbody>
                            <tbody *ngIf="selectednetwork == 'network3'">
                                <tr><td>SBI00069 / Hospet / Chief Associate(CSS)</td></tr>
                                <tr><td>SBI06215 / Kartagi / Jr. Associate (CSS)</td></tr>
                                <tr><td>SBI05958 / Hospet / Associate(CSS)</td></tr>
                                <tr><td>SBI07431 / Tadri / Jr Asso(CSS)on prob.</td></tr>
                                <tr><td>SBI07198 / Gokak A.D.B. / Jr Asso(CSS)on prob.</td></tr>
                            </tbody>
                            <tbody *ngIf="selectednetwork == 'overall'">
                                <tr><td>SBI00069 / Hospet / Chief Associate(CSS)</td></tr>
                                <tr><td>SBI00541 / THOKKOTTU / Chief Associate(CSS)</td></tr>
                                <tr><td>SBI00806 / JAYALAKSHMIPURM / Chief Associate (CSS)</td></tr>
                                <tr><td>SBI00520 / KankanadyM'lore / Sr.RK/RK-Cashier/Cas</td></tr>
                                <tr><td>SBI00951 / Udupi / Jr. Associate (CSS)</td></tr>
                            </tbody>
                        </table>
                    </div> 
                </div>
            </div>
        </div>
    </div>  
</div>
</div>

