<block-ui></block-ui>
<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
            <header class="py-2 bg-image-full">
                <p class="text-justify col-lg-10 offset-lg-1 p1-cl">
                    Culturelytics is a one-of-a-kind, unique culture platform, powered by AI. The analysis, scoring, and data measured by Culturelytics can be applied across 3 offerings.
                </p>
                 <ul class="text-justify col-lg-10 offset-lg-1 p1-cl main-dash-ul">
                    <li>1. MnAgenome - Mergers and Acquisitions (Pre Deal)</li>
                    <li>2. Ingenome - Integration (Post Deal)</li>
                    <li>3. Culturegenome - Culture Transformation</li>
                </ul>
                <p class="text-justify col-lg-10 offset-lg-1 p1-cl">
                    The Pulse AI tool works with 51 Human dimensions, analyses over 9276 Behaviour patterns. It operates on 3 key pillars for organizations, Finance, HR and Culture.
                </p>
               
            </header>
        </div>
        <div class="slide my-2" data-ride="carousel">
            <div class="orgs">
                <div class="row orgrow w-75">
                    <div *ngFor="let org of orgs" class="p-2 col-xs-2 orgitem"  >
                        <!-- <a class="orgcard p-br" *ngIf = "org.project_variation_type === 'CulGenome'" href="/#/culturegenome/{{org.id}}" title="Survey {{org.progress}}% completed">
                                <div class="orgImage">
                                    <img class="" src="{{org.target_org_logo}}"  alt="{{org.target_org_name}}">
                                </div>
                                <div class="orgTitle">{{org.target_org_name}}</div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" [style.width.%]="org.progress" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" ng-cloak></div>
                                </div>
                            </a> -->
                            <a class="orgcard p-br" *ngIf = "org.project_variation_type === 'CulGenome'" href="/#/culturegenome/{{org.id}}" title="Click here to open the dashboard">
                                <div class="orgImage">
                                    <img class="" src="/assets/images/survey_ins_bg_2_old.jpg"  alt="JSPL Pvt. Ltd.">
                                </div>
                                <div class="orgTitle">Ayurvet Pvt. Ltd.</div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" [style.width.%]="org.progress" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" ng-cloak></div>
                                </div>
                            </a>
                            <!-- <a class="orgcard p-br" *ngIf = "org.project_variation_type === 'MnAGenome'" href="/#/mnagenome/{{org.id}}" title="Survey {{org.progress}}% completed">
                                <div class="orgImage">
                                    <img class="" src="{{org.target_org_logo}}"  alt="{{org.target_org_name}}">
                                </div>
                                <div class="orgTitle">{{org.target_org_name}}</div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" [style.width.%]="org.progress" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" ng-cloak></div>
                                </div>
                            </a> -->
                    </div>
                    <!-- <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" >
                        <div class="orgitem slide dbx-slide" ngxSlickItem *ngFor="let org of orgs">
                            
                            <a class="orgcard p-br" *ngIf = "org.project_variation_type === 'CulGenome'" href="/#/culturegenome/{{org.id}}" title="Survey {{org.progress}}% completed">
                                <div class="orgImage">
                                    <img class="" src="{{org.target_org_logo}}"  alt="{{org.target_org_name}}">
                                </div>
                                <div class="orgTitle">{{org.target_org_name}}</div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" [style.width.%]="org.progress" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" ng-cloak></div>
                                </div>
                            </a>
                            <a class="orgcard p-br" *ngIf = "org.project_variation_type === 'InGenome'" href="/#/ingenome/{{org.id}}" title="Survey {{org.progress}}% completed">
                                <div class="orgImage">
                                    <img class="" src="{{org.target_org_logo}}"  alt="{{org.target_org_name}}">
                                </div>
                                <div class="orgTitle">{{org.target_org_name}}</div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" [style.width.%]="org.progress" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" ng-cloak></div>
                                </div>
                            </a>
                            <a class="orgcard p-br" *ngIf = "org.project_variation_type === 'MnAGenome'" href="/#/mnagenome/{{org.id}}" title="Survey {{org.progress}}% completed">
                                <div class="orgImage">
                                    <img class="" src="{{org.target_org_logo}}"  alt="{{org.target_org_name}}">
                                </div>
                                <div class="orgTitle">{{org.target_org_name}}</div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" [style.width.%]="org.progress" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" ng-cloak></div>
                                </div>
                            </a>

                        </div>
                    </ngx-slick-carousel> -->
                </div>
                <div class="row btnrow" >
                    <a style="display: none;" class="btn s-btn col-lg-10 offset-lg-1 p1-cl"  href="#.">        
                        <span style="margin-right: 30px;" title="New Request"><fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>New Request  </span>
                        <span style="margin-right: 30px;" title="Request Re-evaluation"><fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>Request Re-evaluation</span>
                        <span style="margin-right: 30px;" title="Export Report"><fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>Export Report </span> 
                        <span style="margin-right: 30px;" title="Avail Other Services"><fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>Avail Other Services</span>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="carousel slide my-2" data-ride="carousel">
           <!--  <header class="py-2 bg-image-full">
                <p class="text-justify col-lg-10 offset-lg-1 p1-cl">
                The Pulse AI tool works with 51 Human dimensions, analyses over 9276 Behaviour patterns. It operates on 3 key pillars for organizations, Finance, HR and Culture.
                </p>
            </header> -->
            <header class="py-2 bg-image-full">
                 <p class="text-justify col-lg-10 offset-lg-1 p1-cl"><br>
                In addition to providing a proprietary culture score that both predicts the value and accelerates performance, Culturelytics pioneers the analytics of culture using advanced algorithms and human factor mapping. Culture and its impact on an organization can now be measured in real, financial terms.
                </p>
            </header>
        </div>
      </div>
    </div>
  </div>