<div class="dbk {{project?.project_variation_type}}">
	<div class="row">
		  <div class="col-lg-12 col-md-12">
			  <div class="dbk-box">
			  	<!-- <div class="dbkb-head">
					  <h6 class="dbkb-title">DEFINITION:</h6>
				  </div> -->
				  <p><span class="dbkb-title" style="font-weight: 700;">DEFINITION:</span> People Speak is a comprehensive look at what employees are saying about the organisation on the world wide web. <br>We bring a range of sources together for a more complete and reliable analysis of the organisation’s reputation in key areas of employee experience. <br>This helps leaders identify areas where reputation needs to be enhanced for improved performance.</p>
				  <!-- <div class="dbkb-head">
					<h6 class="dbkb-title">SOURCE:</h6>
				</div> -->
					<p><span class="dbkb-title" style="font-weight: 700;">SOURCE:</span> Proprietary world wide web data scan</p>
				  
				  <!-- <div class="dbkb-body">
					  <p  [innerHTML]="project?.pskc.executiveSummary" style="text-align: left"></p>
				  </div> -->
			  </div>
		  </div>
	  </div>

	  <div class="row">
		  <div class="col-lg-3 col-md-3 col-sm-3 col-12 border-right dotted">
				<div class="row" style="margin-bottom: 10px;">
					<div class="col-12">
						<div class="dbk-box">
							<div class="dbkb-head">
								<h6 class="dbkb-title text-center"><fa-icon [icon]="['fas', 'tachometer-alt']"></fa-icon>OVERALL RATING</h6>
							</div>
							<div class="dbkb-body orclass" title="3.57" style="    height: 120px;">
	                           <div id="speedometer">
								  <span class="barometer" style="background-image: url(assets/images/graph.png);"></span>
								  <span class="needle"></span>
								  <span><p class="orvalues text-white bold">3.57</p></span>
								</div>
	                         </div>
	                         <p style="text-align:center ;">Opinion Index</p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12" >
						<div class="dbk-box">
							<div class="dbkb-head">
								<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'signal']"></fa-icon>KEY STATISTICS</h6>
							</div>
							<div class="dbkb-body">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-6">
											<span class=" float-left key_statistics_width"><p class="key_statistics"><strong [CountTo]="56" [from]="0" [duration]="1"></strong></p><p class="key_statistics_lable ">Rewiews</p></span>
										</div>
										<div class="col-lg-6 col-md-6 col-6">
											<span class="float-left key_statistics_width" style="margin-left: -10px;"><p class="key_statistics"><strong [CountTo]="3" [from]="0" [duration]="1"></strong></p><p class="key_statistics_lable">Interviews</p></span>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12">
											<div class="ceo_approval-ppk">
												<p class="ptag pros-title"><fa-icon [icon]="['far', 'clipboard']"></fa-icon> Leadership Sentiment</p>
												<p class="angular-with-newlines ptag"><span [CountTo]="52" [from]="0" [duration]="1"></span>% of employees approve of the CEO's performance</p>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-12 col-md-12" >
											<div class="fri_recommend">
												<p class="ptag pros-title"><fa-icon [icon]="['far', 'thumbs-up']"></fa-icon> Recommend to a Friend</p>
												<p class="angular-with-newlines ptag"><span style ="color: red;" [CountTo]="50" [from]="0" [duration]="1"></span><span style ="color: red;">%</span>  of people are likely to recommend to a friend</p>
											</div>
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>


		  </div>
		  <div class="col-lg-9 col-md-9 col-sm-9 col-12">
			<div class="row inner-dash-right-panel" >
				<div class="col-12">
					<div class="dbk-box">
						<div class="dbkb-head">
							<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'asterisk']"></fa-icon>RATING CRITERIA</h6>
						</div>
						<div class="dbkb-body">
							<div class="rcs">
								<div class="rc" *ngFor="let rc of rcs" [ngClass]="{'red': rc.prop < 3.5, 'yellow':  rc.prop >= 3.5 && rc.prop < 4.5, 'green':  rc.prop >= 4.5}" >
									<div class="rc-val"><div class="rc-num">{{rc.prop}}</div><div class="rc-tail"><fa-icon [icon]="['fas', 'circle']"></fa-icon></div></div>
									<div class="rc-case" >
											<div class="rc-icon"><fa-icon [icon]="['fas', rc.icon]"></fa-icon></div>
											<div class="ldBar {{rc.code}}" id="{{rc.code}}" data-preset="circle" ></div>
									</div>
									<div class="rc-label">{{rc.label}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row mbl-ipad">
					<div class="col-12">
						<div class="dbk-box">
							<div class="dbkb-head">
								<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'thumbs-up']"></fa-icon>COMPANY INSIGHTS</h6>
							</div>
							<div class="dbkb-body">
								<div class="row">
									<div class="col-lg-6 col-md-6">
										<div class="pros-div text-left" >
                      <div class="pros-title">PROS</div>
											<div class="procon-item">Still holds a great market reputation</div>
											<div class="procon-item">Relaxed employee centric policies</div>
                      <!-- <div class="procon-item"></div> -->

										</div>
									</div>
									<div class="col-lg-6 col-md-6">
										<div class="cons-div text-left">
                      <div class="cons-title">CONS</div>
                      <!--
                        No help from company
High Attrition
Long working hours
big politics chain
less pay
high work burden
production steel growth
bad work culture
12hrs duty
Change of departments irrespective of educational background
working conditions
Site area
People

                      -->
											<div class="procon-item">Lack of innovative marketing strategies</div>
                      <div class="procon-item">Consistent change in the top management</div>
                      <!-- <div class="procon-item">No proper training</div> -->


                    </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		  </div>
	  </div>
  </div>
