<block-ui></block-ui>
<div class="db overflow-auto">
    <div class="container dbc">
            <app-lregister *ngIf="project.project_type === 'LS'"></app-lregister>
            <app-dlregister *ngIf="project.project_type === 'datalake'"></app-dlregister>
            <div class="rfq noproj mt-5" [hidden]="projectValid === true">
		        <div class="alert alert-danger" role="alert">
		            <h4 class="alert-heading">Sorry!</h4>
		            <p>The assessment link is either not valid or has expired. Please contact support team.</p>
		        </div>
		    </div>
    </div>

</div>