<div class="dbk {{project?.project_variation_type}}">
	<div class="row">
		<div class="col-lg-12 col-md-12">
			<div class="dbk-box">
				<!-- <div class="dbkb-head">
					<h6 class="dbkb-title">DEFINITION:</h6>
				</div> -->
				<p><span class="dbkb-title" style="font-weight: 700;">DEFINITION: </span>The Culture Needs Scorecard (CNS) provides a strategic lens into Value coherence, Mood Orientation and Promoter Orientation within the organization. The Culture Coherence Quotient then guesstimates the cost of inefficiency across the next couple of years at the organization.</p>
					
				
				<!-- <div class="dbkb-body">
					<p  [innerHTML]="project?.bns.executiveSummary" style="text-align: left"></p>
				</div> -->
			</div>
		</div>
	</div>
	<!-- <div class="row"  style="margin-top: -20px; margin-bottom: 10px">
		<div class="col-lg-12 col-md-12">
			<ul class="nav nav-pills float-right">
				<li class="nav-item">
					<a class="nav-link btn btn-sm" *ngIf = "project?.project_variation_type === 'InGenome'"  [ngClass]="{'active': currentView === 'bnsEmp'}" (click)="switchView('bnsEmp')">Entity A</a>
					<a class="nav-link btn btn-sm" *ngIf = "project?.project_variation_type !== 'InGenome'"  [ngClass]="{'active': currentView === 'bnsEmp'}" (click)="switchView('bnsEmp')">Employee</a>

				</li>
				<li class="nav-item">
					<a class="nav-link btn btn-sm" *ngIf = "project?.project_variation_type === 'InGenome'" [ngClass]="{'active': currentView === 'bnsCust'}" (click)="switchView('bnsCust')">Entity B</a>
					<a class="nav-link btn btn-sm" *ngIf = "project?.project_variation_type !== 'InGenome'" [ngClass]="{'active': currentView === 'bnsCust'}" (click)="switchView('bnsCust')">Customers</a>
				</li>
			</ul>
		</div>
	</div> -->
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right dotted">
			<div class="row" style="margin-bottom: 10px;">
				<div class="col-12">
					<div class="dbk-box">
						<div class="dbkb-head">
							<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'star-half-alt']"></fa-icon>OVERALL RATING</h6>
						</div>
						<div class="dbkb-body">
							<div class="orater">
								<div class="speech-bubble">The Indicator is a function of CCQ and financial forecasts of the business. This provides the monetary impact of culture on business.</div>
								<div class="ratediv">
									<div class="rates">
										<!-- <div class="dbkb-title" style="font-size: 14px; font-weight: 700;" >INR <span [CountTo]="59.1" [from]="0" [duration]="3"></span> Crores<br> (8.71%)</div> -->
									</div>
								</div>
								<div class="ratelbl mbl-font"><span>VALUE OF ENTROPY</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12" >
					<div class="dbk-box">
						<div class="dbkb-head">
							<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'signal']"></fa-icon>KEY STATISTICS</h6>
						</div>
						<div class="dbkb-body">

							<div class="row">
								<div class="col-lg-12 col-md-12" >
									<div class="ceo_approval-bns">
										<p class="ptag pth">Highest Desired Values</p>
										<div class="pbitm">Innovation</div>
										<div class="pbitm">Mission Focus</div>
										<div class="pbitm">Risk Taking</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
		<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
			<div class="row" style="margin-bottom: 10px;">
				<div class="col-12">
					<div class="dbk-box">
						<div class="dbkb-head">
							<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'asterisk']"></fa-icon>RATING CRITERIA</h6>
						</div>
						<div class="dbkb-body">
							<div class="rcs">
								<div class="rc" *ngFor="let rc of rcs" [ngClass]="{'red': project?.bns[rc.prop] < 3.5, 'yellow':  project?.bns[rc.prop] >= 3.5 && project?.bns[rc.prop] < 4.5, 'green':  project?.bns[rc.prop] >= 4.5}" >
									<div class="rc-val"><div class="rc-num">{{project?.bns[rc.prop]}}</div><div class="rc-tail"><fa-icon [icon]="['fas', 'circle']"></fa-icon></div></div>
									<div class="rc-case" >
										<div class="rc-icon"><fa-icon [icon]="['fas', rc.icon]" [style.color]="rc.color"></fa-icon></div>
										<div class="ldBar {{rc.code}}" id="{{rc.code}}" data-preset="circle" ></div>
									</div>
									<div class="rc-label">{{rc.label}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<div class="dbk-box" >
						<div class="dbkb-head">
							<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'thumbs-up']"></fa-icon>COMPANY INSIGHTS</h6>
						</div>
						<div class="dbkb-body">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 bg-white" >
									<!-- <img src="assets/images/CNS_projection.png" style="height: 250px;width:auto;"> -->
									<!-- <div class="offset-lg-1 col-lg-10 col-md-10 col-12">
										<div class="cons-div">
											<div class="bnsbarchart" id="bnsbarchart1" ></div>
                    </div>

									</div> -->
									<!-- <div class="col-12">
										<div class="row bg-white chart-tbl">
											<table class="table  mb-0 bold" style="">
												<thead>
													<tr>
														<td class="cs_tbl_td bold text-info border border-left-0">Level</td>
														<td class="cs_tbl_td bold text-info border border-left-0">Finance</td>
														<td class="cs_tbl_td  bold text-info border border-left-0">Fitness</td>
														<td class="cs_tbl_td  bold text-info border border-left-0">External Stakeholder relations</td>
														<td class="cs_tbl_td bold text-info border border-left-0">Evoluation</td>
														<td class="cs_tbl_td  bold text-info border border-left-0">Trust/ Engagement</td>
														<td class="cs_tbl_td  bold text-info border border-left-0">Direction/ Communication</td>
														<td class="cs_tbl_td  bold text-info border border-left-0">Supportive Environment</td>
														<td class="cs_tbl_td bold text-info">Societal Contribution</td>

													</tr>
												</thead>
												<tbody>
													<tr>
														<td class="bold text-info  border-right bns-tb-td">Desired Culture Values</td>
														<td class=" border-right"></td>
														<td class=" border-right"></td>
														<td class=" border-right bns-tb-td">customer satisfaction</td>
														<td class=" border-right"></td>
														<td class="  border-right"> </td>
														<td class=" border-right bns-tb-td">Honesty clarity</td>
														<td class=" border-right bns-tb-td">patience encouragement respect</td>
														<td class="border-right"></td>
													</tr>
													<tr>
														<td class="bold text-info border border-left-0 bns-tb-td">Values Jumps</td>
														<td class="border border-left-0"></td>
														<td class="border border-left-0"></td>
														<td class="border bns-tb-td">strategic alliances</td>
														<td class="border border-left-0 bns-tb-td">innovation </td>
														<td class="border border-left-0"></td>
														<td class="border border-left-0 bns-tb-td">enthusiasm open communication </td>
														<td class="border border-left-0 bns-tb-td">fairness embracing diversity </td>
														<td class="border border-left-0 bns-tb-td">sustainability </td>
													</tr>
													<tr>
														<td class="bold text-info border border-left-0 bns-tb-td">Potentially Limiting Values</td>
														<td class="border border-left-0"></td>
														<td class="border border-left-0 bns-tb-td">long hours bureaucracy empire building </td>
														<td class="border"></td>
														<td class="border border-left-0 bns-tb-td">caution short-term focus </td>
														<td class="border border-left-0 bns-tb-td">control power conflict avoidance blame silo mentality </td>
														<td class="border border-left-0 bns-tb-td">confusion </td>
														<td class="border border-left-0 bns-tb-td">bullying exploitation  </td>
														<td class="border border-left-0"> </td>
													</tr>
												</tbody>
											</table>
										</div>
									</div> -->
								</div>
								<!-- <div class="col-lg-12 col-md-12">
									<div class="bnstabset">
										<div class="bnstabs">
											<a class="bnstab" [ngClass]="{'active': bnsTab === 'ctd'}" (click)="switchBnsTab('ctd')"><div class="tail"></div>Current Team Dynamics</a>
											<a class="bnstab" [ngClass]="{'active': bnsTab === 'dtd'}" (click)="switchBnsTab('dtd')"><div class="tail"></div>Desired Team Dynamics</a>
										</div>
										<div class="bnstcontents">
											<div class="bnstcontent" [hidden]="bnsTab === 'dtd'">
												<div class="bnspie bnsPieChart" id="ctd_chart"></div>
											</div>
											<div class="bnstcontent" [hidden]="bnsTab === 'ctd'">
												<div class="bnspie bnsPieChart" id="dtd_chart"></div>
											</div>
										</div>
									</div>
								</div> -->
								<!-- <div class="inpg-fnote float-right col-12 text-right" style="font-size: 12px;color: black;">
									Adapted from BVC reports.
								</div> -->
							</div>
						</div>
						<div class="dbkb-body" [hidden]="currentView === 'bnsEmp'">
							<div class="row">
								<img src="assets/images/Leadership_Values.jpg" style="height: 275px;width:auto;">
								<!-- <div class="col-lg-12 col-md-12 col-sm-12 bg-white">
									<div class="offset-lg-1 col-lg-10 col-md-10 col-12"> -->
										<!-- <div class="cons-div">
											<div class="bnsbarchart" id="bnsbarchart2" ></div>
										</div> -->
									<!-- </div> -->
									<!-- <div class="col-12">
										<div class="row bg-white chart-tbl" style="">
											<table class="table  mb-0 bold" style="">
												<thead>
													<tr>
														<td class="cs_tbl_td bold text-info border border-left-0">Level</td>
														<td class="cs_tbl_td bold text-info border border-left-0">Finance</td>
														<td class="cs_tbl_td  bold text-info border border-left-0">Fitness</td>
														<td class="cs_tbl_td  bold text-info border border-left-0">External Stakeholder relations</td>
														<td class="cs_tbl_td bold text-info border border-left-0">Evoluation</td>
														<td class="cs_tbl_td  bold text-info border border-left-0">Trust/ Engagement</td>
														<td class="cs_tbl_td  bold text-info border border-left-0">Direction/ Communication</td>
														<td class="cs_tbl_td  bold text-info border border-left-0">Supportive Environment</td>
														<td class="cs_tbl_td bold text-info">Societal Contribution</td>

													</tr>
												</thead>
												<tbody>
													<tr>
														<td class="bold text-info  border-right bns-tb-td">Desired Culture Values</td>
														<td class=" border-right"></td>
														<td class=" border-right"></td>
														<td class=" border-right bns-tb-td">customer satisfaction</td>
														<td class=" border-right"></td>
														<td class="  border-right"> </td>
														<td class=" border-right bns-tb-td">Honesty clarity</td>
														<td class=" border-right bns-tb-td">patience encouragement respect</td>
														<td class="border-right"></td>
													</tr>
													<tr>
														<td class="bold text-info border border-left-0 bns-tb-td">Values Jumps</td>
														<td class="border border-left-0"></td>
														<td class="border border-left-0"></td>
														<td class="border bns-tb-td">strategic alliances</td>
														<td class="border border-left-0 bns-tb-td">innovation </td>
														<td class="border border-left-0"></td>
														<td class="border border-left-0 bns-tb-td">enthusiasm open communication </td>
														<td class="border border-left-0 bns-tb-td">fairness embracing diversity </td>
														<td class="border border-left-0 bns-tb-td">sustainability </td>
													</tr>
													<tr>
														<td class="bold text-info border border-left-0 bns-tb-td">Potentially Limiting Values</td>
														<td class="border border-left-0"></td>
														<td class="border border-left-0 bns-tb-td">long hours bureaucracy empire building </td>
														<td class="border"></td>
														<td class="border border-left-0 bns-tb-td">caution short-term focus </td>
														<td class="border border-left-0 bns-tb-td">control power conflict avoidance blame silo mentality </td>
														<td class="border border-left-0 bns-tb-td">confusion </td>
														<td class="border border-left-0 bns-tb-td">bullying exploitation  </td>
														<td class="border border-left-0"> </td>
													</tr>
												</tbody>
											</table>
										</div>
									</div> -->
								<!-- </div> -->
								<!-- <div class="col-lg-12 col-md-12">
									<div class="bnstabset">
										<div class="bnstabs">
											<a class="bnstab" [ngClass]="{'active': bnsTab === 'ctd1'}" (click)="switchBnsTab1('ctd1')"><div class="tail"></div>Current Team Dynamics</a>
											<a class="bnstab" [ngClass]="{'active': bnsTab === 'dtd1'}" (click)="switchBnsTab1('dtd1')"><div class="tail"></div>Desired Team Dynamics</a>
										</div>
										<div class="bnstcontents">
											<div class="bnstcontent" [hidden]="bnsTab === 'dtd1'">
												<div class="bnspie bnsPieChart" id="ctd1_chart1"></div>
											</div>
											<div class="bnstcontent" [hidden]="bnsTab === 'ctd1'">
												<div class="bnspie bnsPieChart" id="dtd1_chart1"></div>
											</div>
										</div>
									</div>
								</div> -->
								<!-- <div class="inpg-fnote float-right col-12 text-right" style="font-size: 12px;color: black;">
									Adapted from BVC reports.
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12 col-md-12 col-12">
			<div class="dbkb-head">
				<h6 class="pros-title" style="text-align: center;"> <span class="tab"></span>EMPLOYEE EXPERIENCE ANALYSIS <span class="tab"></span><span class="tab"></span><span class="tab"></span>
					<!-- <a href="assets/images/explore/CultureNeedsScorecard_Exploremore.xlsx" class="btn"  style="background-color:  #8b79dd !important;color:white!important;"download>Location-wise Analysis</a> -->
				</h6>
				
                    <!-- <a href="assets/images/explore/InfluencerNetwork_Exploremore.xlsx" class="btn"  style="background-color:  #8b79dd !important;color:white!important;"download>Location-wise Analysis</a> -->
                    <!-- <a href="assets/images/Network_Leaders.png"  class="btn" style="margin-right:15px;background-color: #8b79dd !important;color:white!important;" download>Button 2</a> -->
                
			</div>
			<div class="dbkb-body">
				<div class="row">
					<div class="col-lg-6 col-md-6"> 
						<div class="pros-title" style="font-weight: 700; font-size: 14; text-align: center; color: black;">What employee experience is best delivered at Ayurvet?</div>
						<div class="pros-div text-left">
	 
							<img src="assets/images/Ayurvetgood.JPG" style="height:auto;width:470px;" class="center">
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						
						<div class="pros-title" style="font-weight: 700; font-size: 14; text-align: center; color: black;">What employee experience needs most improvement at Ayurvet?</div>
						<div class="pros-div text-left">
	  
							<img src="assets/images/Ayurvetbetter.JPG" style="height:auto;width:470px;" class="center">
						</div>
					</div>
	  
				</div>
			</div>
		</div>
	</div>
	<div class="row inner-dash-right-panel" style="padding-top: 15px;" >
		<div class="col-12">
		  <div class="dbk-box">
			<div class="pros-title" style="font-weight: 700; font-size: 14; text-align: center; color: black;">Please do share any other suggestions that comes to your mind</div>
			<div class="dbkb-body">
			  <img src="assets/images/othersuggestions.png" style="height: auto;width:470px;">
			</div>
		  </div>
		</div>
	  </div>
</div>
