<block-ui></block-ui>
<div class="db">
    <app-header></app-header>
    <div class="container">
		<div class="row navhead">
			<!-- <div class="col-lg-9 col-md-9"> -->
				<h3>Organization Details</h3>
			<!-- </div>
			<div class="col-lg-3 col-md-3">
				<button class="btn btn-info">Change Organization Details</button>
			</div> -->
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 org-details">
				<div><h5>{{org_details?.org_name}}</h5></div>
				<div><b>Address: </b> {{org_details?.address_1}}</div>
				<div><b>Website: </b> <a href="{{org_details?.website}}" target="_blank">{{org_details?.website}}</a></div>
				<div><b>Number of Employee: </b> {{org_details?.emp_count}}</div>
				<div><b>Organization Type: </b> <span *ngIf="org_details?.org_type !== '' ">{{org_details?.org_type}}</span><span *ngIf="org_details?.org_type === '' || org_details?.org_type === null "> NA</span></div>
			</div>
		</div>
	</div>
</div>
	
