.db .dbc {
	overflow: auto;
}
@media screen and  (min-width: 320px) and (max-width: 675px) {
    .height-auto{
        height: auto !important;
    }
    .padding-0{
        padding: 0px !important;
    }
  

}