.assess_title{
	background: -webkit-linear-gradient(#19a4d8, #8a41f8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.your-result-text {
	color: #2f5496;
}
.result-text {
	font-size: 24px;
}
.result-text-color {
	color: #4472c4;
}
.head-result-text-color{
	color: #fc7283;
}
.quadrants {
	color: #7f7f7f;
}
.a4-div {
	height: auto;
	/*border: 1px solid #ccc;*/
	/*margin-top: 30px;*/
	
}
.outer-div {
	background-color: #f1f1f1;
	height: calc(100% - 0px);
}
.error-page {
	padding-top: 20%;
}
.social-media span{
	margin: auto 15px;
}
.our-track-record-img {
	-webkit-animation: fadein 15s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 15s; /* Firefox < 16 */
	-ms-animation: fadein 15s; /* Internet Explorer */
	-o-animation: fadein 15s; /* Opera < 12.1 */
	animation: fadein 15s;
}

ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
ul li{
	margin:0 20px 20px 0; vertical-align:top
}
.bg-custom-color{
	background-color: #f2f2f2;
}
.internal-font-size{
	font-size: 16px;
}

.trackr1{
	background-color: #e7b8b0;
    width: 100px;
    border-radius: 100%;
    height: 100px;
}
.trackr2{
	background-color:#dd7e6c;
    width: 100px;
    border-radius: 100%;
    height: 100px;
}
.trackr3{
	background-color: #e05e5e;
    width: 100px;
    border-radius: 100%;
    height: 100px;
}
.trackr4{
	background-color: #e16766;
    width: 100px;
    border-radius: 100%;
    height: 100px;
}
.trackr5{
	background-color: #cd0001;
    width: 100px;
    border-radius: 100%;
    height: 100px;
}
.trackr6{
	background-color: #9a0000;
    width: 100px;
    border-radius: 100%;
    height: 100px;
}





/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.main-header-w{
        height: 90px;
    }
@media screen and  (min-width: 320px) and (max-width: 675px) {
    .height-auto{
        height: auto !important;
    }
    .padding-0{
        padding: 0px !important;
    }
    .svins .svins-lp .svins-title { 
        width: 100%; height:55px;  font-size:20px; color:#333; font-weight: 700; text-align: left;
    }
    .svins .svins-rp .svins-rpbdy { width: 90%; height: auto; display:flex; align-items: center; margin: auto; }
    .svins .svins-rp { width: 100%; height: auto; float: left; display: inline-block; }
    .main-header-w{
        height: 55px;
    }
    .tipe-head{
        font-size: 15px;
    }
    .trackrecord{
        padding-left: 23vw;
    }
    .margin-footer-txt{
        margin-left: 20% !important;
    }
}