<div class="dbk cul-cs-mbl-view {{project?.project_variation_type}}" >
    <div class="row"  id="companysentiments">
        <div class="col-lg-12 col-md-12">
            <div class="dbk-box">
                <!-- <div class="dbkb-head">
                    <h6 class="dbkb-title">DEFINITION:</h6>
                </div> -->
                
                <p><span class="dbkb-title" style="font-weight: 700;">DEFINITION:</span> In addition to formal reporting structures, every organisation has informal networks of influence that can facilitate, accelerate or hinder achievement of organisational goals. <br>Our Influencer Networks analysis uncovers and maps these informal networks of influence, collaboration and communication operating within the organisation, giving leaders important levers for implementing operational initiatives and effecting change.</p>

                    <!-- <div class="dbkb-head">
                        <h6 class="dbkb-title">SOURCE:</h6>
                    </div> -->
                    <p><span class="dbkb-title" style="font-weight: 700;">SOURCE:</span> Proprietary Pulse survey</p>
                    
                    <!-- <div class="dbkb-head">
                        <h6 class="dbkb-title">EXECUTIVE SUMMARY:</h6>
                    </div> -->
                    
                <!-- <div class="dbkb-head">
                    <h6 class="dbkb-title">EXECUTIVE SUMMARY</h6>
                </div> -->
                <!-- <div class="dbkb-body">
                    <p  [innerHTML]="project?.pskcs.executiveSummary" style="text-align: left"></p>
                </div> -->
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 border-right dotted">
            <div class="row" style="margin-bottom: 10px; margin-top:13%">
                <div class="col-12">
                    <div class="dbk-box">
                        <div class="dbkb-head">
                            <h6 class="dbkb-title text-center"><fa-icon [icon]="['fas', 'tachometer-alt']"></fa-icon>OVERALL RATING</h6>
                        </div>
                        <div class="dbkb-body orclass" title="{{project?.pskcs.opinion_index}}" style=" height: 120px;">
                           <div id="speedometer">
                              <span class="barometer" style="background-image: url(assets/images/graph.png);"  ></span>
                              <span class="needle"></span>
                              <span><p class="orvalues text-white bold">{{project?.pskcs.opinion_index}}</p></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-12">
                    <div class="dbk-box">
                        <div class="dbkb-head">
                            <h6 class="dbkb-title"><fa-icon [icon]="['fas', 'asterisk']"></fa-icon>RATING CRITERIA</h6>
                        </div>
                        <div class="dbkb-body text-left">
                            <div class="rcs">
                                                    <div class="rc" *ngFor="let rc of rcs" [ngClass]="{'red': rc.prop < 3.5, 'yellow':  rc.prop >= 3.5 && rc.prop < 4.5, 'green':  rc.prop >= 4.5}" >
                                                        <div class="rc-val"><div class="rc-num">{{rc.prop}}</div><div class="rc-tail"><fa-icon [icon]="['fas', 'circle']"></fa-icon></div></div>
                                                        <div class="rc-case" >
                                                                <div class="rc-icon"><fa-icon [icon]="['fas', rc.icon]"></fa-icon></div>
                                                                <div class="ldBar {{rc.code}}" id="{{rc.code}}" data-preset="circle" ></div>
                                                        </div>
                                                        <div class="rc-label">{{rc.label}}</div>
                                                    </div>

                                       
                                <div class="rc" style="background-color: #e7e5e6;">
                                    <div class="rc-val"><div class="rc-num"></div><div class="rc-tail"></div></div>
                                    <div class="rc-case" style="width: 100%;margin: 0 auto;" >
                                        <div class="" style="color: #9688E0 !important;font-size: 17px;"><span [CountTo]="1" [from]="0" [duration]="0"></span>:<span [CountTo]="8" [from]="0" [duration]="0"></span></div>
                                    </div>
                                    <div class="rc-label">Influencer ratio<br>(Highest: 147 <br> Median: 5)</div>
                                    <!-- <div class="rc-label">Highest: 173 <br> Median: 4</div> -->
                                </div>
                                 <div class="rc" style="background-color: #e7e5e6;">
                                    <div class="rc-val"><div class="rc-num"></div><div class="rc-tail"></div></div>
                                    <div class="rc-case" style="width: 100%;margin: 0 auto;">
                                        <div class="" style="color: #9688E0 !important;font-size: 17px;" [CountTo]="9" [from]="0" [duration]="0"></div>
                                    </div>
                                    <div class="rc-label">Number of Cliques</div>
                                </div>
                                <div class="rc" style="background-color: #e7e5e6;">
                                  <div class="rc-val"><div class="rc-num"></div><div class="rc-tail"></div></div>
                                  <div class="rc-case" style="width: 100%;margin: 0 auto;">
                                      <div class="" style="color: #9688E0 !important;font-size: 17px;"><span [CountTo]="12.73" [from]="0" [duration]="0"></span>%</div>
                                  </div>
                                  <div class="rc-label">% of non reach</div>
                              </div>


                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="dbkb-head">
                  <h6 style="font-size:13px !important" class="dbkb-title"><fa-icon [icon]="['fas', 'filter']"></fa-icon>&nbsp; <b>FILTERS (Please select to load the networks)</b></h6>
              </div>
                <div class="row" style="margin-top: 25px;">

                  <div class="col-lg-7 col-md-7">
                  <select class="selcls form-control " (change)="changequestion($event)" >
                    <option value="o">Select a Question</option>
                    <option value="o">Overall</option>
                    <option value="q1">Question 1</option>
                      <option value="q2">Question 2</option>
                      <option value="q3">Question 3</option>
                      <option value="q4">Question 4</option>
                      <option value="q5">Question 5</option>
                      <option value="q6">Question 6</option>

                  </select>
                </div>
                  <p class="col-lg-5 col-md-5">
                    <!-- <a href="assets/images/explore/InfluencerNetwork_Exploremore.xlsx" class="btn"  style="background-color:  #8b79dd !important;color:white!important;"download>Location-wise Analysis</a> -->
                    <!-- <a href="assets/images/Network_Leaders.png"  class="btn" style="margin-right:15px;background-color: #8b79dd !important;color:white!important;" download>Button 2</a> -->
                </p>
              </div>
            </div>
        </div>
        <!-- <div class="row" >
             <div class="widthcls">
                <a href="#topnetworkleader">
                    <div class="moodindex border text-center" >
                        <p class="mi_circle mi-circle-top-network"><img class="w-50ss" src="assets/images/Network_Leaders.png" style="filter: opacity(0.4);"></p>
                        <p style="color:black;font-size: 12px;white-space: pre-wrap;font-variant: small-caps;">Top Network Leaders </p>
                    </div>
                </a>
            </div>
            <div class="widthcls">
                <a href="#topinfluencers">
                    <div class="moodindex border text-center">
                        <p class="mi_circle"><img  class="w-50" src="assets/images/Top_Influencer.png" style="filter: opacity(0.4);"></p>
                        <p class="net-chart-fnt-style" >Top Influencers </p>
                    </div>
                </a>
            </div> -->
            <!-- <div class="widthcls">
                <a href="#topcliques">
                    <div class="moodindex border text-center">
                        <p class="mi_circle mi-circle-cliques"><img  class="w-50" src="assets/images/Major_CDiscovered.png" style="filter: opacity(0.4);"></p>
                        <p class="net-chart-fnt-style">Major Cliques Discovered</p>
                    </div>
                </a>
            </div> -->
            <!-- <div class="widthcls ">
                <a href="#topinforepositories">
                    <div class="moodindex border text-center">
                        <p class="mi_circle mi-circle-top-leaders"><img  class="w-50" src="assets/images/Top_Local_Leader.png" style="filter: opacity(0.4);"></p>
                        <p class="net-chart-fnt-style">Top Local Leaders</p>
                    </div>
                </a>
            </div>
        </div> -->
         <!-- <div class="col-lg-12 col-md-12 col-12 mb-0">
            <div class="card carddiv_height">
                <div class="card-header cardheader row pt-0 pb-0 text-right" style="background-color: white !important;">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mt-2 mb-2 offset-lg-4 offset-md-4">
                       <p class="mb-0 pt-2" style="font-size: 15px">Please select a question</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mt-2 mb-2 p-0 ">
                        <select class="selcls form-control"  (change)="changequestion($event)" >
                          <option>Select</option>
                          <option value="o">Overall</option>
                          <option value="q1">Question 1</option>
                            <option value="q2">Question 2</option>
                            <option value="q3">Question 3</option>
                            <option value="q4">Question 4</option>
                            <option value="q5">Question 5</option>
                            <option value="q6">Question 6</option>

                        </select>
                    </div>
                </div>
            </div>
        </div> -->





<div class="row" style="margin: 10px 10px;">
  <p *ngIf="selectedQuestion == 'o'" ><i>Selected question:<br><br></i><b> Overall view</b></p>
  <p *ngIf="selectedQuestion == 'q1'" ><i>Selected question:<br><br></i><b> You are stuck with a rather tricky task. You have a deadline at the end of the day. Who would you <b>instinctively</b> reach out to?</b></p>
  <p *ngIf="selectedQuestion == 'q2'"><i>Selected question:<br><br></i><b> The company is going through some changes. There is lot of talk floating around about the impending changes. <br>Who would you turn to, to get more information?</b></p>
  <p *ngIf="selectedQuestion == 'q3'"><i>Selected question:<br><br></i><b> You are having a tough time at work over the past few days. You have had some issues at home that are affecting your work. <br>Who would you turn to, to share your feelings?</b></p>
  <p *ngIf="selectedQuestion == 'q4'"><i>Selected question:<br><br></i><b> There is a company social event coming up. Which of your colleagues would you hang out with?</b></p>
  <p *ngIf="selectedQuestion == 'q5'"><i>Selected question:<br><br></i><b> You have been thinking seriously about your career options in the organization. Lately, you have the feeling that you<br> have not been progressing as fast as you would want to. Who would you discuss this with?</b></p>
  <p *ngIf="selectedQuestion == 'q6'"><i>Selected question:<br><br></i><b> You have an Innovation contest coming up. You have been chosen as a team leader, Who would you pick <br>to be a part of your team?</b></p>

</div>
        <div class="row" id="topnetworkleader">
            <div class="col-lg-12 col-md-12 col-12" style="margin-bottom: 20px;">
                <div class="card carddiv_height" >
                    <div class="card-header cardheader"><span style="color: white;">Top Network Leaders</span><span class="float-right"><a href="#companysentiments" class="purpleColor" style="color: #fff !important;"><fa-icon [icon]="['fas', 'arrow-circle-up']"></fa-icon>  Go to Top</a></span>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <iframe (load)="stoppage();" *ngIf="selectedQuestion == 'o' " src="assets/html/overall.html" height="400" width="100%"></iframe>
                          <iframe  (load)="stoppage();"*ngIf="selectedQuestion == 'q1' " src="assets/html/question1.html" height="400" width="100%"></iframe>
                          <iframe  (load)="stoppage();"*ngIf="selectedQuestion == 'q2' " src="assets/html/question2.html" height="400" width="100%"></iframe>
                          <iframe  (load)="stoppage();"*ngIf="selectedQuestion == 'q3' " src="assets/html/question3.html" height="400" width="100%"></iframe>
                          <iframe  (load)="stoppage();"*ngIf="selectedQuestion == 'q4' " src="assets/html/question4.html" height="400" width="100%"></iframe>
                          <iframe  (load)="stoppage();"*ngIf="selectedQuestion == 'q5' " src="assets/html/question5.html" height="400" width="100%"></iframe>
                          <iframe  (load)="stoppage();"*ngIf="selectedQuestion == 'q6' " src="assets/html/question6.html" height="400" width="100%"></iframe>

                        </div>
                        <!-- <div class="col-lg-4 col-md-4 col-sm-4 pt-2">
                            <div id="networkgraphcontainer"  class="border-left bg-white border-bottom shadow-sm mt-4" style="width: 272px;height: 275px; float: left;">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Score</th>
                                        </tr>
                                    </thead>
                                    <thead>
                                        <tr *ngFor="let dcnl of democut_tnl">
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
       <!-- <div class="row" id="topinfluencers">
            <div class="col-lg-12 col-md-12 col-12" style="margin-bottom: 20px;">
                <div class="card carddiv_height" >
                    <div class="card-header cardheader" ><span style="color: white;">Top Influencers</span><span class="float-right"><a href="#companysentiments" class="purpleColor" style="color: #fff !important;"><fa-icon [icon]="['fas', 'arrow-circle-up']" ></fa-icon>  Go to Top</a></span></div>
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                          <iframe (load)="stoppage();" *ngIf="selectedQuestion == 'o'" src="assets/html/overall_1.html" height="300" width="100%"></iframe>
                          <iframe  (load)="stoppage();" *ngIf="selectedQuestion == 'q1' " src="assets/html/question1_1.html" height="300" width="100%"></iframe>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 pt-2">
                           <div id="networkgraphcontainer"  class="border-left bg-white border-bottom shadow-sm mt-4" style="width: 272px;height: 275px; float: left;">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Score</th>
                                        </tr>
                                    </thead>
                                    <thead>
                                        <tr  *ngFor="let dc_topinfluncr of democut_ti">
                                           <td>{{dc_topinfluncr.employee_name}} ({{dc_topinfluncr.bank_code}})</td>
                                            <td>{{dc_topinfluncr.influencer_scores}}</td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
         <div class="row" id="topcliques" *ngIf="selectedQuestion == 'o'">
            <div class="col-lg-12 col-md-12 col-12" style="margin-bottom: 20px;">
                <div class="card carddiv_height" style="background-color: #e7e5e6;">
                    <div class="card-header cardheader"><span style="color: white;">Major Cliques Discovered</span><span class="float-right"><a href="#companysentiments" class="purpleColor" style="color: #fff !important;"><fa-icon [icon]="['fas', 'arrow-circle-up']" ></fa-icon>  Go to Top</a></span></div>
                    <div class="">
                        <div class="text-center demographics_mi_parent"><iframe src="assets/html/Group.html" height="400" width="100%"></iframe></div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="row" id="topinforepositories">
            <div class="col-lg-12 col-md-12 col-12" style="margin-bottom: 20px;">
                <div class="card carddiv_height">
                    <div class="card-header cardheader"><span  style="color: white;">Top Information Repositories</span><span class="float-right"><a href="#companysentiments" class="purpleColor" style="color: #fff !important;"><fa-icon [icon]="['fas', 'arrow-circle-up']" ></fa-icon>  Go to Top</a></span></div>
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <div id="tir_networkgraphcontainer" class="" style="width: 100%; float: left;"></div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 pt-2">
                            <div id="networkgraphcontainer"  class="border-left bg-white border-bottom shadow-sm mt-4" style="width: 272px;height: 275px; float: left;display: none;">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Score</th>
                                        </tr>
                                    </thead>
                                    <thead>
                                        <tr *ngFor="let dcnl of democut_tnl">
                                            <td>{{dcnl.employee_name}} ({{dcnl.bank_code}})</td>
                                            <td>{{dcnl.network_leadership_scores}}</td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    </div>

