<div class="dbk cul-dash-mbl {{project?.project_variation_type}}">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="dbk-box">
                <!-- <div class="dbkb-head">
                    <h6 class="dbkb-title">DEFINITION:</h6>
                </div> -->
                <p><span class="dbkb-title" style="font-weight: 700;">DEFINITION:</span> Values are what motivate us and underpin behaviour, so understanding your people’s values is key to understanding and shaping your organisation’s culture. Highlights of the analysis include:<br>

                    •	Values Synergies (areas where employee values align with values they see in the company today and want to see in the future)<br>
                    •	Value Jumps (where employees want to see a shift in the company’s priorities)<br>
                    •	Identity Dysfunction (current organisational values that are limiting growth)<br></p>
                 <!-- <div class="dbkb-head">
                    <h6 class="dbkb-title">SOURCE:</h6>
                </div>     -->
                <p><span class="dbkb-title" style="font-weight: 700;">SOURCE:</span> Proprietary Pulse survey</p>
               
                <!-- <div class="dbkb-body">
                    <p  [innerHTML]="project?.cvac.executiveSummary" style="text-align: left"></p>
                </div> -->
            </div>
        </div>
    </div>


<div style="display: flex; align-items: center;"  >
  <label style="margin-left:72%;margin-right:10px;">Level:</label><br>
  <select class="form-control" style="display: flex; align-items: right;" (change)="selectChangeHandler($event);changeimage();" required>
    <option value="Ayurvet Overall">Ayurvet Overall</option>
    <option value="Senior Level">Senior Level</option>
    <option value="Mid Level">Mid Level</option>
    <option value="Junior Level">Junior Level</option>

  </select>

</div>
<p><span>You selected: </span><b>{{selectedLocation}}</b></p>
    <div class="row mbl-view">
        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12 col-12 border-right dotted">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-12">
                    <div class="dbk-box">
                        <div class="dbkb-head">
                            <h6 class="dbkb-title"><fa-icon [icon]="['fas', 'star-half-alt']"></fa-icon>OVERALL RATING</h6>
                        </div>
                        <div class="dbkb-body">
                            <div class="orater">
                                <div class="speech-bubble_opi border speech-bubble w-75 text-left">
                                    <ul class="list-unstyled">
                                        <li>{{v1}}</li>
                                        <li>{{v2}}</li>
                                        <li>{{v3}}</li> 
                                    </ul>
                                </div>
                                <div class="ratediv">
                                    <div class="rates" style="font-size: 25px;height:unset;">
                                        <p>{{valueDysfunction}}%</p>
                                    </div>
                                </div>
                                <div class="ratelbl"><span>Identity Dysfunction</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- <div class="row" style="margin-bottom: 10px;">
                <div class="col-12">
                    <div class="dbk-box">
                        <div class="dbkb-head">
                            <h6 class="dbkb-title"><fa-icon [icon]="['fas', 'star-half-alt']"></fa-icon>OPINION INDEX</h6>
                        </div>
                        <div class="dbkb-body">
                            <div class="orater">
                                <div class="speech-bubble_opi border speech-bubble w-75 text-left">
                                    <ul class="list-unstyled">
                                        <li>Control</li>
                                        <li>Confusion</li>
                                        <li>Beauracracy</li> 
                                    </ul>
                                </div>

                                <div class="ratediv">
                                    <div class="rates" style="font-size: 25px;height:unset;">
                                        <p>{{valueDysfunction}}%</p>
                                    </div>
                                </div>
                                <div class="ratelbl mbl-font"><span>Values Dysfunction</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-12" >
                    <div class="dbk-box">
                        <div class="dbkb-head">
                            <h6 class="dbkb-title"><fa-icon [icon]="['fas', 'signal']"></fa-icon>KEY STATS</h6>
                        </div>
                        <div class="dbkb-body">

                            <div class="row white">
                                
                                <div class="col-lg-12 col-md-12">
                                    <div class="ceo_approval">
                                        <span style="float: left;font-size: 48px;">{{s1}}</span>
                                        <div class="speech-bubble_vac border speech-bubble w-75 text-left">
                                            <ul class="list-unstyled">
                                                <li>{{a1}}</li>
                                                <li>{{a2}}</li>
                                                <li>{{a3}}</li>
                                                <li>{{a4}}</li>
                                                <li>{{a5}}</li>
                                                <li>{{a6}}</li>
                                            </ul>
                                        </div>
                                        <p class="angular-with-newlines ptag" style="margin-top: 19px;margin-left: 30px;font-size: 12px;">Common values between Oganization Identity and Personal Identity</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row white">
                                <div class="col-lg-12 col-md-12" >
                                    <div class="ceo_approval">
                                        <span style="float: left;font-size: 48px;">{{s2}}</span>
                                        <div class="speech-bubble_vac border speech-bubble w-75 text-left">
                                            <ul class="list-unstyled">
                                                <li>{{b1}}</li>
                                                <li>{{b2}}</li>
                                                <li>{{b3}}</li>
                                                <li>{{b4}}</li>
                                                <li>{{b5}}</li>
                                                <li>{{b6}}</li>
                                                <li>{{b7}}</li>
                                                <li>{{b8}}</li>
                                                <li>{{b9}}</li>
                                            </ul>
                                        </div>
                                        <p class="angular-with-newlines ptag" style="margin-top: 19px;margin-left: 30px;font-size: 12px;">Common values between Organization Identity and Aspiration Identity</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row white">
                                <div class="col-lg-12 col-md-12">
                                    <div class="ceo_approval">
                                        <span  style="float: left;font-size: 48px;">{{s3}}</span>
                                        <div class="speech-bubble_vac border speech-bubble w-75 text-left">
                                            <ul class="list-unstyled">
                                                <li>{{c1}}</li>
                                                <li>{{c2}}</li>
                                                <li>{{c3}}</li>
                                                <li>{{c4}}</li>
                                                <li>{{c5}}</li>
                                                <li>{{c6}}</li>
                                                <li>{{c7}}</li>
                                                <li>{{c8}}</li>
                                                <li>{{c9}}</li>
                                            </ul>
                                        </div>
                                        <p class="angular-with-newlines ptag" style="margin-top: 24px;margin-left: 30px;font-size: 12px;">Top value jumps from Organization Identity to Aspiration Identity</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12 col-12">
            <div class="row bmargin">
                <div class="col-12">
                    <div class="dbk-box">
                        <div class="dbkb-head">
                             <!-- <h6 class="dbkb-title"><fa-icon [icon]="['fas', 'asterisk']"></fa-icon>RATING CRITERIA</h6> -->
                            <h6 class="dbkb-title" style="height: 15px;"> </h6>
                        </div>
                        <div class="dbkb-body">
                           <div class=" row">
                                <div class="col-4 ">
                                    <div class="participantnumber" >
                                       <!-- {{project?.participants?.length}} -->
                                        <p><span>{{participants}}</span></p>

                                    </div>
                                    <div class="rc-label participanttext">No. of Employees</div>
                                </div>
                                <div class="col-4 ">
                                    <div class="participantnumber">
                                      <!-- {{responsedata_per}}% -->
                                       <p><span>{{response}}</span>%</p>
                                    </div>
                                    <div class="rc-label participanttext">% of Responses</div>
                                </div>
                                <div class="col-4">
                                    <div class="participantnumber">
                                       <!-- {{branchno.length}} -->
                                        <p><span>{{departments}}</span></p>
                                    </div>
                                    <div class="rc-label participanttext">No. of Department</div>
                                </div>
                                <div style="display: none;" class="rc" *ngFor="let rc of rcs" [ngClass]="{'red': project?.cvac[rc.prop] < 3, 'yellow':  project?.cvac[rc.prop] > 3 && project?.cvac[rc.prop] < 6, 'green':  project?.cvac[rc.prop] >= 6}" (click)="ivopChange(rc.opvalue);" >
                                    <div class="rc-val">
                                        <div class="rc-num">{{project?.cvac[rc.prop]}}</div>
                                        <div class="rc-tail"><fa-icon [icon]="['fas', 'circle']"></fa-icon></div>
                                    </div>
                                    <div class="rc-case" >
                                        <div class="rc-icon"><fa-icon [icon]="['fas', rc.icon]"></fa-icon></div>
                                        <div class="ldBar {{rc.code}}" id="{{rc.code}}" data-preset="circle" ></div>
                                    </div>
                                    <div class="rc-label">{{rc.label}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <div class="row">
                    <div class="dbk-box">
                        <div class="dbkb-head">
                            <h6 class="dbkb-title"><fa-icon [icon]="['fas', 'user-check']" style="padding-left: 15px;"></fa-icon>COMPANY INSIGHTS</h6>
                        </div>
                        <div class="col-12 cvarp">
                            <nav class="displayflag-mbl">
                              <div class="nav nav-tabs " id="nav-tab" role="tablist">
                                <a [ngClass]="{'opactive': ivop == 'op1'}" (click)="ivopChange('op1');changeoption('o1');" class="nav-item nav-link  border-light">Self Identity</a>
                                <a [ngClass]="{'opactive': ivop == 'op2'}" (click)="ivopChange('op2');changeoption('o2')" class="nav-item nav-link border-light" >Organization Identity</a>
                                <a [ngClass]="{'opactive': ivop == 'op3'}" (click)="ivopChange('op3');changeoption('o3')" class="nav-item nav-link border-light"> Aspiration Identity</a>
                                <a [ngClass]="{'opactive': ivop == 'op4'}" (click)="ivopChange('op4');changeoption('o4')" class="nav-item nav-link border-light">Value Synergy Index</a>
                              </div>
                            </nav>
                            <div class="col-3 opdiv displayflag-dsktp">
                                <div class="row op1" [ngClass]="{'opactive': ivop == 'op1'}" (click)="ivopChange('op1');changeoption('o1');"><div [hidden]="ivop !== 'op1'" class= "arrow-right"></div><div class="txtd">Self Identity</div></div>
                                <div class="row op2" [ngClass]="{'opactive': ivop == 'op2'}" (click)="ivopChange('op2');changeoption('o2')"><div [hidden]="ivop !== 'op2'" class= "arrow-right"></div><div class="txtd"> Organization Identity</div></div>
                                <div class="row op3" [ngClass]="{'opactive': ivop == 'op3'}" (click)="ivopChange('op3');changeoption('o3')"><div [hidden]="ivop !== 'op3'" class= "arrow-right"></div><div class="txtd"> Aspiration Identity</div></div>
                                <div class="row op4" [ngClass]="{'opactive': ivop == 'op4'}" (click)="ivopChange('op4');changeoption('o4')"><div [hidden]="ivop !== 'op4'" class= "arrow-right"></div><div class="txtd">Value Synergy Index</div></div>

                              </div>

                            <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12 col-12 dbkd-h">
                                <div  class="dbkd-hb" style="width:610px" >
                                  <img #image  [src]="mysource" height="250px" width="500px">
                        </div>
                    </div>
                    <!-- <div class="inpg-fnote float-right col-12 text-right" style="font-size: 12px;color: black;">
                        Adapted from BVC reports.
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
</div>
