<div class="dbk {{project?.project_variation_type}}" >
    <div class="row"  id="companysentiments">
        <div class="col-lg-12 col-md-12">
            <div class="dbk-box">
                <div class="dbkb-head">
                    <h6 class="dbkb-title">EXECUTIVE SUMMARY</h6>
                </div>
                <div class="dbkb-body">
                    <p  [innerHTML]="project?.pskcs.executiveSummary" style="text-align: left"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right dotted">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-12">
                    <div class="dbk-box">
                        <div class="dbkb-head">
                            <h6 class="dbkb-title"><fa-icon [icon]="['fas', 'star-half-alt']"></fa-icon>OVERALL RATING</h6>
                        </div>
                        <!-- <div class="dbkb-body">
                            <div class="orater" title="{{project?.pskcs.opinion_index}}">
                                <div class="ratediv">
                                    <div class="rates">
                                        <div class="ratesd bk"><div class="ratesdcase"><div class="ratestar" *ngFor="let number of [0,1,2,3,4]"><fa-icon [icon]="['far', 'star']" ></fa-icon></div></div></div>
                                        <div class="ratesd fr" [style.width.%]="project?.pskcs.opinion_index * 20"><div class="ratesdcase"><div class="ratestar" *ngFor="let number of [0,1,2,3,4]" ><fa-icon [icon]="['fas', 'star']" ></fa-icon></div></div></div>
                                    </div>
                                </div>
                                <div class="ratelbl"><span>OPINION INDEX</span></div>
                            </div>
                        </div> -->
                        <div class="dbkb-body orclass" title="{{project?.pskcs.opinion_index}}" style=" height: 120px;">
                           <div id="speedometer">
                              <span class="barometer" style="background-image: url(assets/images/circle-color.png);"></span>
                              <span class="needle"></span>
                              <span><p class="orvalues text-white bold">{{project?.pskcs.opinion_index}}</p></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-12">
                    <div class="dbk-box">
                        <div class="dbkb-head">
                            <h6 class="dbkb-title"><fa-icon [icon]="['fas', 'asterisk']"></fa-icon>RATING CRITERIA</h6>
                        </div>
                        <div class="dbkb-body text-left">
                            <div class="rcs rcs-mobile">
                                <div class="rc rting_criteria" *ngFor="let rc of rcs" [ngClass]="{'red': project?.pskcs[rc.prop] < 2, 'yellow':  project?.pskcs[rc.prop] > 2 && project?.pskcs[rc.prop] < 4, 'green':  project?.pskcs[rc.prop] >= 4}" >
                                    <div class="speech-bubble_vac border speech-bubble w-75 text-left">
                                        <p>{{rc.pop_desc}}</p>
                                    </div>
                                    <div class="rc-val"><div class="rc-num">{{project?.pskcs[rc.prop]}}</div><div class="rc-tail"><fa-icon [icon]="['fas', 'circle']"></fa-icon></div></div>
                                    <div class="rc-case" >
                                        <div class="rc-icon"><fa-icon [icon]="['fas', rc.icon]"></fa-icon></div>
                                        <div class="ldBar {{rc.code}}" id="{{rc.code}}" data-preset="circle" ></div>    
                                    </div>
                                    <div class="rc-label">{{rc.label}}</div>
                                </div>
                                <div class="rc" style="background-color: #e7e5e6;">
                                    <div class="rc-val"><div class="rc-num"></div><div class="rc-tail"></div></div>
                                    <div class="rc-case" style="width: 100%;margin: 0 auto;" >
                                        <div class="" style="color: #9688E0 !important;font-size: 17px;">62:1465</div>   
                                    </div>
                                    <div class="rc-label">Influencer ratio</div>
                                </div>
                                 <div class="rc" style="background-color: #e7e5e6;">
                                    <div class="rc-val"><div class="rc-num"></div><div class="rc-tail"></div></div>
                                    <div class="rc-case" style="width: 100%;margin: 0 auto;">
                                        <div class="" style="color: #9688E0 !important;font-size: 17px;">589</div>   
                                    </div>
                                    <div class="rc-label">Number of Cliques</div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row" >
            <div class="widthcls">
                <a href="#topnetworkleader">
                    <div class="moodindex border text-center" >
                        <p class="mi_circle"><fa-icon [icon]="['fas', 'handshake']" ></fa-icon></p>
                        <p style="color:black;font-size: 10px;white-space: pre-wrap;">Top Network Leaders </p>
                    </div>
                </a>
            </div>
            <div class="widthcls">
                <a href="#topinfluencers">
                    <div class="moodindex border text-center">
                        <p class="mi_circle"><fa-icon [icon]="['fas', 'user-friends']" ></fa-icon></p>
                        <p style="color:black;font-size: 10px;white-space: pre-wrap;">Top Influencers </p>
                    </div>
                </a>
            </div>
            <div class="widthcls">
                <a href="#topcliques">
                    <div class="moodindex border text-center">
                        <p class="mi_circle"><fa-icon [icon]="['fas', 'users']" ></fa-icon></p>
                        <p style="color:black;font-size: 10px;white-space: pre-wrap;">Major Cliques Discovered</p>
                    </div>
                </a>
            </div>
            <div class="widthcls ">
                <a href="#topinforepositories">
                    <div class="moodindex border text-center">
                        <p class="mi_circle"><fa-icon [icon]="['fas', 'database']" ></fa-icon></p>
                        <p style="color:black;font-size: 10px;white-space: pre-wrap;"><!-- Top Information Repositories -->Top Local Leaders</p>
                    </div>
                </a>
            </div>
            <!-- <div class="widthcls"> 
                <a href="#topfunhangout">
                    <div class="moodindex border text-center">
                        <p class="mi_circle"><fa-icon [icon]="['fas', 'child']" ></fa-icon></p>
                        <p style="color:black;font-size: 10px;white-space: pre-wrap;;">Top Fun Hangout</p>
                    </div>
                </a>
            </div> -->
        </div>	
        <div class="row" id="topnetworkleader"> 
            <div class="col-lg-12 col-md-12 col-12" style="margin-bottom: 20px;">
                <div class="card carddiv_height" style="background-color: #fff;">
                    <div class="card-header cardheader"><span>Top Network Leader</span><span class="float-right"><a href="#companysentiments" class="purpleColor" style="color: #fff !important;"><fa-icon [icon]="['fas', 'arrow-circle-up']"></fa-icon>  Go to Top</a></span>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 m-auto">
                            <iframe *ngIf="topNetworkLeaderSrc !== ''" src="assets/onacharts/Overall/html/networkLeaders.html" height="300" width="100%"></iframe>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
         <div class="row" id="topinfluencers"> 
            <div class="col-lg-12 col-md-12 col-12" style="margin-bottom: 20px;">
                <div class="card carddiv_height" style="background-color: #fff;/*#e7e5e6*/">
                    <div class="card-header cardheader"><span>Top Influencers</span><span class="float-right"><a href="#companysentiments" class="purpleColor" style="color: #fff !important;"><fa-icon [icon]="['fas', 'arrow-circle-up']" ></fa-icon>  Go to Top</a></span></div>
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 m-auto">
                            <iframe *ngIf="topInfluencerSrc !== ''" src="assets/onacharts/Overall/html/Influencers.html" height="300" width="100%"></iframe>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
         <div class="row" id="topcliques"> 
            <div class="col-lg-12 col-md-12 col-12" style="margin-bottom: 20px;">
                <div class="card carddiv_height" style="background-color: #fff;">
                    <div class="card-header cardheader"><span>Major Cliques Discovered</span><span class="float-right"><a href="#companysentiments" class="purpleColor" style="color: #fff !important;"><fa-icon [icon]="['fas', 'arrow-circle-up']" ></fa-icon>  Go to Top</a></span></div>
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 m-auto">
                            <iframe *ngIf="majorCliquesSrc !== ''" src="assets/onacharts/Overall/html/Cliques.html" height="300" width="100%"></iframe>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
         <div class="row" id="topinforepositories"> 
            <div class="col-lg-12 col-md-12 col-12" style="margin-bottom: 20px;">
                <div class="card carddiv_height" style="background-color: #fff;">
                    <div class="card-header cardheader"><span><!-- Top Information Repositories -->Top Local Leaders</span><span class="float-right"><a href="#companysentiments" class="purpleColor" style="color: #fff !important;"><fa-icon [icon]="['fas', 'arrow-circle-up']" ></fa-icon>  Go to Top</a></span></div>
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 m-auto">
                            <iframe *ngIf="topLocalLeaderSrc !== ''" src="assets/onacharts/Overall/html/localLeaders.html" height="300" width="100%"></iframe>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <!-- <div class="row" id="topfunhangout"> 
            <div class="col-lg-12 col-md-12 col-12" style="margin-bottom: 20px;">
                <div class="card carddiv_height" style="background-color: #e7e5e6;">
                    <div class="card-header cardheader"><span>Top Fun Hangout</span><span class="float-right"><a href="#companysentiments" class="purpleColor"  style="color: #fff !important;"><fa-icon [icon]="['fas', 'arrow-circle-up']"></fa-icon>  Go to Top</a></span></div>
                    <div class="">
                        <div class="text-center demographics_mi_parent"><img src="assets/images/tfh.jpg" style="width: 100%;"></div>
                    </div>
                </div>
            </div>  
        </div> -->
    </div>

