<div class="dbk {{project?.project_variation_type}}">
	<div class="row">
		<div class="col-lg-12 col-md-12">
			<div class="dbk-box">
				<div class="dbkb-head">
					<h6 class="dbkb-title">EXECUTIVE SUMMARY</h6>
				</div>
				<div class="dbkb-body">
					<p  [innerHTML]="adaptqdash.executiveSummary" style="text-align: left"></p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right dotted">
			<div class="row" style="margin-bottom: 10px;">
				<div class="col-12">
					<div class="dbk-box">
						<div class="dbkb-head">
							<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'star-half-alt']"></fa-icon>OVERALL RATING</h6>
						</div>
						<!-- <div class="dbkb-body">
							<div class="orater" title="{{adaptqdash.opinion_index}}">
								<div class="ratediv">
									<div class="rates">
										<div class="ratesd bk"><div class="ratesdcase"><div class="ratestar" *ngFor="let number of [0,1,2,3,4]"><fa-icon [icon]="['far', 'star']" ></fa-icon></div></div></div>
										<div class="ratesd fr" [style.width.%]="adaptqdash.opinion_index * 20"><div class="ratesdcase"><div class="ratestar" *ngFor="let number of [0,1,2,3,4]" ><fa-icon [icon]="['fas', 'star']" ></fa-icon></div></div></div>
									</div>
								</div>
								<div class="ratelbl"><span>Receptiveness to change</span></div>
							</div>
						</div> -->
						<div class="dbkb-body orclass" title="{{adaptqdash.opinion_index}}" style=" height: 120px;">
                           <div id="speedometer">
							  <span class="barometer" style="background-image: url(assets/images/circle-color.png);"></span>
							  <span class="needle"></span>
							  <span><p class="orvalues text-white bold">{{adaptqdash.opinion_index}}</p></span>
							</div>
                        </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pulse-mobile">
			<div class="row" style="margin-bottom: 10px;">
				<div class="col-12">
					<div class="dbk-box">
						<div class="dbkb-head">
							<h6 class="dbkb-title" >Pulse Organization Score </h6>
						</div>
						<div class="dbkb-body">
							<div class="pplorgscore">
								<div class="orgscore1" >
									<p class="text-center" style="font-size: 10px;margin-bottom: 0px;">Score</p>
									<div class=" orgscore_startdiv" style="height: 120px;">
										
									</div>
									<p class="text-center" style="font-size: 10px;margin-bottom: 0px;">Employee</p>
								</div>
								<div class="orgscore" >
									<p class="text-center orgscore_lbl" style="color: #deb525;">Not Adaptive</p>
									<div class=" orgscorediv border">
										<div class="position-relative text-center" style="height:99.99%;box-shadow: inset 0 0 10px #cccccc;">
											<p class="pos_text_bottom position-absolute">0.01%</p>
										</div>
										<div class="" style="height: 0.01%;background-color: #f9cf3d;"></div>
									</div>
									<p class="text-center orgscore_lbl" style="color: #000;">1</p>
								</div>
								<div class="orgscore" >
									<p class="text-center orgscore_lbl" style="color:#deb525;">Less adaptive</p>
									<div class=" orgscorediv border">
										<div class="position-relative text-center" style="height:97.64%;box-shadow: inset 0 0 10px #cccccc;">
											<p class="pos_text_bottom position-absolute">2.36%</p>
										</div>
										<div class="" style="height: 2.36%;background-color: #f9cf3d;"></div>
									</div>
									<p class="text-center orgscore_lbl" style="color: #000;">28</p>
								</div>
								<div class="orgscore" id="orgscore" >
									<p class="text-center orgscore_lbl abc" style="color: #deb525;">Neutral</p>
									<div class=" orgscorediv border">
										<div class="position-relative text-center" style="height:27.25%;box-shadow: inset 0 0 10px #cccccc;">
											<p class="pos_text_bottom position-absolute">72.75%</p>
										</div>
										<div class="" style="height: 72.75%;background-color: #f9cf3d;"></div>
									</div>
									<p class="text-center orgscore_lbl" style="color: #000;">851</p>
								</div>
								<div class="orgscore" id="orgscore"> 
									<p class="text-center orgscore_lbl" style="color: #deb525;">More Adaptive</p>
									<div class="orgscorediv border">
										<div class="position-relative text-center" style="height:75.23%;box-shadow: inset 0 0 10px #cccccc;">
											<p class="pos_text_bottom position-absolute">24.77%</p>
										</div>
										<div class="" style="height: 24.77%;background-color: #f9cf3d;"></div>
									</div>
									<p class="text-center orgscore_lbl" style="color: #000;">290</p>
								</div>
								<div class="orgscore" id="orgscore" >
									<p class="text-center orgscore_lbl" style="color:green;">Highly Adaptive</p>
									<div class=" orgscorediv border">
										<div class="position-relative text-center" style="height:99.9%;box-shadow: inset 0 0 10px #cccccc;">
											<p class="pos_text_bottom position-absolute">0.10%</p>
										</div>
										<div class="" style="height:0.10%;background-color: green;"></div>
									</div>
									<p class="text-center orgscore_lbl" style="color: #000;">1</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<h6 style="font-size: 12px;font-weight: 700;"><fa-icon [icon]="['far', 'smile']" ></fa-icon> MOOD INDEX</h6>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ipad-view">
			<div class="border" style="height:200px;"> 
				<!-- <img class="bgimg" src="assets/images/graph.png" style="width: 99%;">
				<img class="ndlimg " src="assets/images/niddle.png" style="height: 17%; float: left; margin-left: 32%; margin-top: -36px;   position: relative;">  -->
				<div class="dbkb-body orclass orclass-mobile " title="{{adaptqdash.opinion_index}}">
					<div id="speedometer_mi">
						<span class="barometer_mi" style="background-image: url(assets/images/migraph.png);"></span>
						<span class="needle_mi"></span>
					</div>
				</div>
				
				<div class="sentiment">
					<span class="float-left moodindex-top-text" style="background-color:#188a34;">VERY HAPPY
						<div class="moodindex-no moodindex-no-first">25.8%</div>
					 </span>
					<span class="float-left moodindex-top-text" style="background-color: #90b240;">HAPPY
						<div class="moodindex-no">48.4%</div> 
					</span>
					<span class="float-left moodindex-top-text" style="background-color:#ffc02e;">JUST OK
						<div class="moodindex-no">16.1%</div> 
					</span>
					<span class="float-left moodindex-top-text" style="background-color:#ff622b;">SAD
						<div class="moodindex-no">6.5%</div> 
					</span>
					<span class="float-left moodindex-top-text" style="background-color: #d94334;">VERY SAD
						<div class="moodindex-no">3.2%</div>
					</span>
				</div>
			</div>
			<!-- <div style="position: relative; width: 200px; height: 150px; border: 1px solid black;">
				<div style="position: absolute;bottom: 0; width: 100%; height: 50px; border: 1px solid red;"></div>
			</div> -->
		</div>
		<div class="col-lg-3 col-md-3 col-4 space">
			<a href="#age">
				<div class="moodindex border text-center">
					<p class="mi_circle"><fa-icon [icon]="['fas', 'users']" ></fa-icon></p>
					<p class="font"style="color:black;">Age-wise <br>demographics</p>
				</div>
			</a>
		</div>
		<div class="col-lg-3 col-md-3 col-4 space">
			<a href="#tenure">
				<div class="moodindex border text-center">
					<p class="mi_circle"><fa-icon [icon]="['fas', 'user-cog']" ></fa-icon></p>
					<p class="font" style="color:black;">Tenure-wise <br> demographics</p>
				</div>
			</a>
		</div>
		<div class="col-lg-3 col-md-3 col-4 space ">
			<a href="#gender">
				<div class="moodindex border text-center">
					<p class="mi_circle"><fa-icon [icon]="['fas', 'user-friends']" ></fa-icon></p>
					<p class="font" style="color:black;">Gender-wise <br> demographics</p>
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-12">
			<div class="row" style="padding: 0px 15px;">
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="background-color: #e7e5e6;border-right: 1px solid white;">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12-12"><h6 style="margin-top: 25%; white-space: pre-wrap;"><fa-icon [icon]="['far', 'smile']" ></fa-icon> MOOD INDEX</h6></div>
						<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
							<div  class="moodindex_indicator text-center" *ngFor="let modindx of mdindex"  [style.color]="modindx.color">
								<p class=""> <fa-icon  [icon]="['fas', modindx.icon]" [style.color]="modindx.color" style="font-size: 25px;"></fa-icon> </p>
								<p style="width: 100%;height: 3px;background-color: #188a34;"></p>
								<p class="labrl">{{modindx.label}}</p>
								<p class="bold">{{modindx.modindex}}%</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bold" style="background-color:#e7e5e6;padding-top: 3%;text-align: center;">
					<p class="" style="margin-bottom: 0px; white-space: pre-wrap;">OVERALL ADABTABILITY SCORE</p>
					<p style="color:red;">{{adapq.overall_adq_score}}%</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="age">
		<h3  class="col-lg-12 col-md-12 col-12 age-font"> Age-wise demographics </h3>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 part" style="margin-bottom: 20px;">
			<div class="card carddiv_height" style="background-color: #e7e5e6;">
				<div class="card-header cardheader"><span>20-25 Years</span><span class="float-right"> 185 Participants</span></div>
				<div class="">
					<div class="text-center demographics_mi_parent">
						<p style="color:green;white-space: pre-wrap;">Adaptability to Change Score -<strong> 16.4</strong></p>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #188a34;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:#90b240;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #90b240;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ffc02e;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ff622b;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #d94334;"></p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-lg-6 col-md-6 col-6" style="padding-right: 1px;border-right: 1px solid white;">
						<p class="cardheader" style="background-color:#6bc96b;">Positive Value</p>
						<p class="" style="font-size: 11px; white-space: pre-wrap;">Friendship | Trust | Balance(Work/Life)</p>
					</div>
					<div class="col-lg-6 col-md-6 col-6" style="padding-left: 1px;">
						<p class="cardheader"  style="background-color:#face3d;">Potentially Limiting</p>
						<p class=""  style="font-size: 11px;white-space: pre-wrap;">Control | Power</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-12 part" style="margin-bottom: 20px;">
			<div class="card carddiv_height" style="background-color: #e7e5e6;">
				<div class="card-header cardheader"><span>26-30 Years</span><span class="float-right"> 407 Participants</span></div>
				<div class="">
					<div class="text-center demographics_mi_parent">
						<p  style="color:green;white-space: pre-wrap;">Adaptability to Change Score -<strong>17.1</strong></p>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #188a34;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #90b240;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:#ffc02e;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ffc02e;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ff622b;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #d94334;"></p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-lg-6 col-md-6 col-6" style="padding-right: 1px;border-right: 1px solid white;">
						<p class="cardheader" style="background-color:#6bc96b;">Positive Value</p>
						<p class=""  style="font-size: 11px;white-space: pre-wrap;">Leadership | Family | Commitment</p>
					</div>
					<div class="col-lg-6 col-md-6 col-6" style="padding-left: 1px;">
						<p class="cardheader"  style="background-color:#face3d;">Potentially Limiting</p>
						<p class=""  style="font-size: 11px;white-space: pre-wrap;">Low recognition | Personal Image | Power</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-12 part" style="margin-bottom: 20px;">
			<div class="card carddiv_height" style="background-color: #e7e5e6;">
				<div class="card-header cardheader"><span>31-40 Years</span><span class="float-right"> 222 Participants</span></div>
				<div class="">
					<div class="text-center demographics_mi_parent">
						<p  style="color:green;white-space: pre-wrap;">Adaptability to Change Score -<strong>18.6</strong></p>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #188a34;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #90b240;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:#ffc02e;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ffc02e;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ff622b;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #d94334;"></p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-lg-6 col-md-6 col-6" style="padding-right: 1px;border-right: 1px solid white;">
						<p class="cardheader" style="background-color:#6bc96b;">Positive Value</p>
						<p class=""  style="font-size: 11px;white-space: pre-wrap;">Forgiveness | Family | Commitment</p>
					</div>
					<div class="col-lg-6 col-md-6 col-6" style="padding-left: 1px;">
						<p class="cardheader"  style="background-color:#face3d;">Potentially Limiting</p>
						<p class=""  style="font-size: 11px;white-space: pre-wrap;">Control | Power</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-12 part" style="margin-bottom: 20px;">
			<div class="card carddiv_height" style="background-color: #e7e5e6;">
				<div class="card-header cardheader"><span>41 & above</span><span class="float-right">334 Participants</span></div>
				<div class="">
					<div class="text-center demographics_mi_parent">
						<p  style="color:green;white-space: pre-wrap;">Adaptability to Change Score -<strong>16.4</strong></p>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #188a34;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:#90b240;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #90b240;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ffc02e;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ff622b;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #d94334;"></p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-lg-6 col-md-6 col-6" style="padding-right: 1px;border-right: 1px solid white;">
						<p class="cardheader" style="background-color:#6bc96b;">Positive Value</p>
						<p class=""  style="font-size: 11px;white-space: pre-wrap;">Efficiency | Competence | Self Discipline</p>
					</div>
					<div class="col-lg-6 col-md-6 col-6" style="padding-left: 1px;">
						<p class="cardheader"  style="background-color:#face3d;">Potentially Limiting</p>
						<p class=""  style="font-size: 11px;white-space: pre-wrap;">Control | Power</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="tenure"> 
		<h3 class="col-lg-12 col-md-12 col-12 age-font"> Tenure-wise demographics </h3>
		<div class="col-lg-6 col-md-6 col-12 part" style="margin-bottom: 20px;">
			<div class="card carddiv_height" style="background-color: #e7e5e6;">
				<div class="card-header cardheader"><span>1-3 Years</span><span class="float-right">183 Participants</span></div>
				<div class="">
					<div class="text-center demographics_mi_parent">
						<p style="color:green;white-space: pre-wrap;">Adaptability to Change Score -<strong> 16.4</strong></p>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #188a34;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:#90b240;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #90b240;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ffc02e;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ff622b;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #d94334;"></p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-lg-6 col-md-6 col-6" style="padding-right: 1px;border-right: 1px solid white;">
						<p class="cardheader" style="background-color:#6bc96b;">Positive Value</p>
						<p class="" style="font-size: 11px;white-space: pre-wrap;">Friendship | Trust | Balance(Work/Life)</p>
					</div>
					<div class="col-lg-6 col-md-6 col-6" style="padding-left: 1px;">
						<p class="cardheader"  style="background-color:#face3d;">Potentially Limiting</p>
						<p class=""  style="font-size: 11px;white-space: pre-wrap;">Control | Power</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-12 part" style="margin-bottom: 20px;">
			<div class="card carddiv_height" style="background-color: #e7e5e6;">
				<div class="card-header cardheader"><span>4-5 Years</span><span class="float-right"> 459 Participants</span></div>
				<div class="">
					<div class="text-center demographics_mi_parent">
						<p  style="color:green;white-space: pre-wrap;">Adaptability to Change Score -<strong>17.1</strong></p>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #188a34;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #90b240;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:#ffc02e;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ffc02e;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ff622b;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #d94334;"></p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-lg-6 col-md-6 col-6" style="padding-right: 1px;border-right: 1px solid white;">
						<p class="cardheader" style="background-color:#6bc96b;">Positive Value</p>
						<p class=""  style="font-size: 11px;white-space: pre-wrap;">Leadership | Family | Commitment</p>
					</div>
					<div class="col-lg-6 col-md-6 col-6" style="padding-left: 1px;">
						<p class="cardheader"  style="background-color:#face3d;">Potentially Limiting</p>
						<p class=""  style="font-size: 11px;white-space: pre-wrap;">Low recognition | Personal Image | POwer</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-12 part" style="margin-bottom: 20px;">
			<div class="card carddiv_height" style="background-color: #e7e5e6;">
				<div class="card-header cardheader"><span>6-10 Years</span><span class="float-right"> 241 Participants</span></div>
				<div class="">
					<div class="text-center demographics_mi_parent">
						<p  style="color:green;white-space: pre-wrap;">Adaptability to Change Score -<strong>18.6</strong></p>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #188a34;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #90b240;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:#ffc02e;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ffc02e;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ff622b;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #d94334;"></p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-lg-6 col-md-6 col-6" style="padding-right: 1px;border-right: 1px solid white;">
						<p class="cardheader" style="background-color:#6bc96b;">Positive Value</p>
						<p class=""  style="font-size: 11px;white-space: pre-wrap;">Forgiveness | Family | Commitment</p>
					</div>
					<div class="col-lg-6 col-md-6 col-6" style="padding-left: 1px;">
						<p class="cardheader"  style="background-color:#face3d;">Potentially Limiting</p>
						<p class=""  style="font-size: 11px;white-space: pre-wrap;">Control | Power</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-12 part" style="margin-bottom: 20px;">
			<div class="card carddiv_height" style="background-color: #e7e5e6;">
				<div class="card-header cardheader"><span>11 & above</span><span class="float-right">265 Participants</span></div>
				<div class="">
					<div class="text-center demographics_mi_parent">
						<p  style="color:green;white-space: pre-wrap;">Adaptability to Change Score -<strong>16.4</strong></p>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #188a34;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:#90b240;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #90b240;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ffc02e;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ff622b;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #d94334;"></p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-lg-6 col-md-6 col-6" style="padding-right: 1px;border-right: 1px solid white;">
						<p class="cardheader" style="background-color:#6bc96b;">Positive Value</p>
						<p class=""  style="font-size: 11px;white-space: pre-wrap;">Efficiency | Competence | Self Discipline</p>
					</div>
					<div class="col-lg-6 col-md-6 col-6" style="padding-left: 1px;">
						<p class="cardheader"  style="background-color:#face3d;">Potentially Limiting</p>
						<p class=""  style="font-size: 11px;white-space: pre-wrap;">Control | Power</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="gender">
		<h3  class="col-lg-12 col-md-12 col-12 age-font">Gender-wise demographics </h3>
		<div class="col-lg-6 col-md-6 col-12 part" style="margin-bottom: 20px;">
			<div class="card carddiv_height" style="background-color: #e7e5e6;">
				<div class="card-header cardheader"><span>Male</span><span class="float-right"> 777 Participants</span></div>
				<div class="">
					<div class="text-center demographics_mi_parent">
						<p style="color:green; white-space: pre-wrap;">Adaptability to Change Score -<strong> 16.4</strong></p>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #188a34;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:#90b240;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #90b240;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ffc02e;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ff622b;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #d94334;"></p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-lg-6 col-md-6 col-6" style="padding-right: 1px;border-right: 1px solid white;">
						<p class="cardheader" style="background-color:#6bc96b;">Positive Value</p>
						<p class="" style="font-size: 11px;white-space: pre-wrap;">Friendship | Trust | Balance(Work/Life)</p>
					</div>
					<div class="col-lg-6 col-md-6 col-6" style="padding-left: 1px;">
						<p class="cardheader"  style="background-color:#face3d;">Potentially Limiting</p>
						<p class=""  style="font-size: 11px;white-space: pre-wrap;">Control | Power</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-12 part" style="margin-bottom: 20px;">
			<div class="card carddiv_height" style="background-color: #e7e5e6;">
				<div class="card-header cardheader"><span>Female</span><span class="float-right"> 371 Participants</span></div>
				<div class="">
					<div class="text-center demographics_mi_parent">
						<p  style="color:green; white-space: pre-wrap;">Adaptability to Change Score -<strong>17.1</strong></p>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #188a34;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #90b240;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:#ffc02e;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ffc02e;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ff622b;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #d94334;"></p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-lg-6 col-md-6 col-6" style="padding-right: 1px;border-right: 1px solid white;">
						<p class="cardheader" style="background-color:#6bc96b;">Positive Value</p>
						<p class=""  style="font-size: 11px;white-space: pre-wrap;">Leadership | Family | Commitment</p>
					</div>
					<div class="col-lg-6 col-md-6 col-6" style="padding-left: 1px;">
						<p class="cardheader"  style="background-color:#face3d;">Potentially Limiting</p>
						<p class=""  style="font-size: 11px;white-space: pre-wrap;">Low recognition | Personal Image | Power</p>
					</div>
				</div>
			</div>
		</div>
	</div>


