<div class="dbk {{project?.project_variation_type}}">

	<div class="row">
		<div class="col-lg-12 col-md-12">
			<div class="dbk-box">
				<!-- <div class="dbkb-head">
					<h6 class="dbkb-title">DEFINITION:</h6>
				</div> -->
				<p><span class="dbkb-title" style="font-weight: 700;">DEFINITION: </span>Leadership Pulse is a window onto the culture of the organisation’s top leadership. We use the Existential Universe Mapper Framework (EUM) to assess individuals’ managerial orientations to better understand leadership behaviours and whether they are in sync with the organisation’s mandate. The analysis shows leaders’ current orientation, their ideal orientation and their perception of how other leaders are oriented. </p>
				<!-- <div class="dbkb-head">
					<h6 class="dbkb-title">SOURCE:</h6>
				</div> -->
				<p><span class="dbkb-title" style="font-weight: 700;">SOURCE: </span>Proprietary Pulse survey </p>
				<!-- and <a (click)="showLP();"><b>21 one on one Leadership Interviews</b>(Please click here for insights)</a> -->
				<!-- <div class="dbkb-body col-12 p-1">
					<p style="text-align: left"  [innerHTML]="project.lsp.executive_summary" ></p>
				</div> -->
			</div>
		</div>
	</div>


	

	<!-- <div class="row"  style="margin-top: -20px; margin-bottom: 10px">
		<div class="col-lg-12 col-md-12">
			<ul class="nav nav-pills float-right">
				<li class="nav-item">
					<a class="nav-link btn btn-sm" [ngClass]="{'active': currentView === 'ilsp'}" (click)="switchView('lsp')">Individual</a>
				</li>
				<li class="nav-item">
					<a class="nav-link btn btn-sm" [ngClass]="{'active': currentView === 'ilsp'}" (click)="switchView('lsp')">Combined</a>
				</li>
			</ul>
		</div>
	</div> -->
	<div class="row" style="padding-bottom: 20px;">
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right dotted">
			<div class="dbk-box">
				<div class="dbkb-head">
					<h6 class="dbkb-title  text-center"><fa-icon [icon]="['fas', 'tachometer-alt']"></fa-icon>OVERALL RATING </h6>
				</div>
				<div *ngIf="currentView === 'ilsp'" class="dbkb-body orclass" title="NA" style=" height: 120px;">
                   <div id="speedometer">
					  <span class="barometer" style="background-image: url(assets/images/graph.png);"></span>
					  <span class="needle"></span>
					  <span><p class="orvalues text-white bold">3.74</p></span>
					</div>
                </div>
                <div *ngIf="currentView === 'lsp'" class="dbkb-body orclass" title="NA" style=" height: 120px;">
                   <div id="speedometer">
					  <span class="barometer" style="background-image: url(assets/images/graph.png);"></span>
					  <span class="needleCombined"></span>
					  <span><p class="orvalues text-white bold">3.74</p></span>
					</div>
                </div>

            </div>
		</div>
		<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
			<div class="dbk-box">
				<div class="dbkb-head">
					<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'asterisk']"></fa-icon>RATING CRITERIA</h6>
				</div>
				<div class="dbkb-body">
					<div class="rcs">
						<div class="rc" *ngFor="let rc of rcs" [ngClass]="{'red': lsp[rc.prop] < 3.5, 'yellow':  lsp[rc.prop] >= 3.5 && lsp[rc.prop] < 4.5, 'green':  lsp[rc.prop] >= 4.5}"  >
							<div class="rc-val"><div class="rc-num">{{lsp[rc.prop]}}</div><div class="rc-tail"><fa-icon [icon]="['fas', 'circle']"></fa-icon></div></div>
							<div class="rc-case" >
								<div class="rc-icon" ><fa-icon [icon]="['fas', rc.icon]" [style.color]="rc.color"></fa-icon></div>
								<div class="ldBar {{rc.code}}" id="{{rc.code}}" data-preset="circle" ></div>
								<!--div class="kprogress-bar {{rc.code}}" data-percent="0" [ngClass]="{'red': lsp[rc.prop] < 3, 'yellow':  lsp[rc.prop] > 3 && lsp[rc.prop] < 6, 'green':  lsp[rc.prop] >= 6}">
									<div class="background"></div><div class="rotate"></div><div class="left"></div><div class="right"></div><div class=""><span class="rc-icon"><fa-icon [icon]="['fas', rc.icon]"></fa-icon></span></div>
								</div-->
							</div>
							<div class="rc-label">{{rc.label}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-5 col-md-5">
			<div class="dbk-box">
				<div class="dbkb-head">
					<h6 class="dbkb-title text-center"><fa-icon [icon]="['fas', 'clipboard-check']"></fa-icon>LEADERS IDENTITY</h6>
				</div>
				<div class="dbkb-body">
					<img src="assets/images/Leadership_Values.jpg" style="height: 275px;width:auto;">
				</div>
			</div>
		</div>
		<div class="col-lg-7 col-md-7 small-dvc">
			<div class="dbk-box">
				<div class="dbkb-head">
					<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'user-check']"></fa-icon>LEADERSHIP EUM</h6>
				</div>
				<div class="dbkb-body">
					<img src="assets/images/Leadershipeum.jpg" style="height: 295px;width:auto;">
		</div>
	</div>
	<!-- <div class="row" style="margin: 0px; margin-top: -10px; position: absolute; right: 20px" *ngIf="project?.lsreport !== '' && currentView === 'ilsp'" >
		<a class="s-link float-right" style="float:right;" href="/#/lsreport/{{project?.lsreport.id}}" target="_new">Leadership Report</a>
	</div> -->
</div>
<!-- <div class="dbk {{project?.project_variation_type}}" [hidden]="lspFlag !== 2"  [ngClass]="{'lpBlurDash': lspFlag !== '2'}" style="background-image: url('assets/images/lp_bg1.jpg')">

	<div class="row lpBlurDashContent text-center">
		<div class="col-lg-12 col-md-12">
		<div class="row">
			<div class="col-12 col-lg-12 col-md-12 col-sm-12">
				<h3>This feature is not part of the product offering towards the Bank Mandate.</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-12 col-md-12 col-sm-12">
				<h6>To know more reach out to <a href="mailto:bala@mnagenome.com" target="_top">bala@mnagenome.com</a>  and <a href="mailto:smita@mnagenome.com" target="_top">smita@mnagenome.com</a></h6>
			</div>
		</div>

		</div>
	</div>
</div> -->
