<block-ui></block-ui>
<div class="sv" [ngClass]="{'ins': surveyView !== 'survey'}">
    <div class="svhead">
        <div [hidden]="surveyView !== 'survey' || survey?.projectLogo === undefined || survey?.projectLogo === '' || survey?.projectLogo === null" class="dlp-ologo"><img src="{{survey?.projectLogo}}" alt="{{survey?.projectTitle}}" title="{{survey?.projectTitle}}" /></div>
<!--        <h3 [hidden]="surveyView === 'survey'">&nbsp;</h3>
    <h3 [hidden]="surveyView !== 'survey'"><fa-icon [icon]="['fas', 'clipboard-list']"></fa-icon>{{currentQuestion?.projectTitle}}</h3>-->
</div>
<div class="svbody">
    <div class="svins cscroll" [hidden]="surveyView !== 'intro' && surveyView !== ''">
        <!--<div class="svins-title"><fa-icon [icon]="['fas', 'clipboard-list']"></fa-icon>{{survey?.projectTitle}}</div>-->
        <div class="svins-lp">
            <div class="svins-title dlp-ologo" [hidden]="survey?.projectLogo === undefined || survey?.projectLogo === '' || survey?.projectLogo === null"><img src="{{survey?.projectLogo}}" alt="{{survey?.projectTitle}}" title="{{survey?.projectTitle}}" /></div>
            <div class="svins-body cscroll">
                <div class="svins-ins" *ngIf="survey !== undefined && survey?.instructions !== undefined">
                    <ol>
                        <li *ngFor="let ins of survey?.instructions">{{ins}}</li>
                    </ol>
                </div>
                <div class="svins-inshead">{{survey?.welcomeNote}}</div>
            </div>
            <div class="svins-footer"><button class="btn s-btn" (click)="startSurvey()" title="Continue">Continue</button></div>
        </div>
        <div class="svins-rp"><div class="svins-rpbdy"><img src="assets/images/survey_ins_bg_2.png" /></div></div>
    </div>
 
    <div class="svins thanks" [hidden]="surveyView !== 'thanks' && surveyView !== 'athanks'">
        <div class="svins-lp cscroll">
            <div class="svins-body cscroll">
                <div class="svins-thankshead">THANK YOU!</div>
                <div class="svins-ins msg">
                    <div class="s-cl bold" [hidden]="surveyView !== 'thanks'">You have completed the Assessment.</div>
                    <div class="p-cl bold" [hidden]="surveyView !== 'athanks'">You have already completed this Assessment.</div>
                    ELSA is a first of it's kind learning platform providing tailored analytical dashboards for your learning.
                </div>
                <div class="svins-ins icons">
                    <img src="assets/images/survey_thanks_icons.png" style="width:100%">
                </div>
                <div class="svins-ins">
                    Learning has a new way!
                </div>
                <div class="svins-ins">
                    <a class="link s-link" title="http://www.e2epeoplepractices.com/register.php" href="http://www.e2epeoplepractices.com/register.php">http://www.e2epeoplepractices.com/register.php</a>
                </div>
            </div>
        </div>
        <div class="svins-rp">
            <div class="svins-title dlp-ologo" [hidden]="survey?.projectLogo === undefined || survey?.projectLogo === '' || survey?.projectLogo === null"><img src="{{survey?.projectLogo}}" alt="{{survey?.projectTitle}}" title="{{survey?.projectTitle}}" /></div>
            <div class="svins-rpbdy"><img src="assets/images/survey_thanks.png" /></div>
        </div>
    </div>


    <div class="svins thanks cscroll" [hidden]="surveyView !== 'error' && surveyView !== 'aerror'">
        <div class="svins-lp cscroll">
            <div class="svins-body cscroll">
                <div class="svins-thankshead">SORRY!</div>
                <div class="svins-ins msg">
                    <div class="alert alert-danger" [hidden]="surveyView !== 'error'">
                        Assessment is not found or has expired. contact support team.
                    </div>
                    <div class="alert alert-danger" [hidden]="surveyView !== 'aerror'">
                        Unfortunately your assessment is not submitted. Try again later.
                    </div>
                    ELSA is a first of it's kind learning platform providing tailored analytical dashboards for your learning.
                </div>
                <div class="svins-ins icons">
                    <img src="assets/images/survey_thanks_icons.png" style="width:100%">
                </div>
                <div class="svins-ins">
                    Learning has a new way!
                </div>
                <div class="svins-ins">
                    <a class="link s-link" title="http://www.e2epeoplepractices.com/register.php" href="http://www.e2epeoplepractices.com/register.php">http://www.e2epeoplepractices.com/register.php</a>
                </div>
            </div>
        </div>             
        <div class="svins-rp">
            <div class="svins-title dlp-ologo" [hidden]="survey?.projectLogo === undefined || survey?.projectLogo === '' || survey?.projectLogo === null"><img src="{{survey?.projectLogo}}" alt="{{survey?.projectTitle}}" title="{{survey?.projectTitle}}" /></div>
            <div class="svins-rpbdy"><img src="assets/images/survey_thanks.png" /></div>
        </div>
    </div>

    <div class="svq" [hidden]="surveyView !== 'survey'">
        <div class="sv-index" [hidden]="survey.projectType === 'datalake'">
            <div class="svi-label s-cl">
                Question
            </div>
            <div class="svi-items" >
                <div class="svind-item" *ngFor="let question of survey?.questions;  let i = index;" [style.width.%]="(100 / survey?.questions.length)">
                   <div class="svii-bar" [ngClass]="{'full': userAnswers[i] !== undefined && userAnswers[i].answered === true, 'current': currentQuestionIndex === i}"></div>
                   <div class="svii-num s full" *ngIf="i === 0" >S</div>
                   <div class="svii-num" [ngClass]="{'full': userAnswers[i] !== undefined && userAnswers[i].answered === true, 'current': currentQuestionIndex === i}">{{i+1}}</div>
               </div>
           </div>
       </div>



        
        <div class="svq-body cscroll svona dlake w-75" [hidden]="currentQuestion?.questionType !== 'st'">
            <div class="svona-qdiv">
                <div class="svona-qicon" [hidden]="currentQuestion?.questionIcon === undefined || currentQuestion?.questionIcon === ''"><img src="{{currentQuestion?.questionIcon}}" /></div>
                <div class="svona-qtitle" [innerHTML]="currentQuestion?.questionText"></div>
            </div>
            <div class="row col" > 
              <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control col-4 form-control-sm"  placeholder="Enter Number Here" id="" name="" (keyup)="enableStSave()" [(ngModel)]="dldata.stqanswer">
                <button class="btn s-btn col-2 ml-2" [disabled]="this.showdl1form === false" (click)="datalake_stsave()">Save Answer</button>
            </div>
        </div>
        <div class="svq-body cscroll svona  dlake w-75" [hidden]="currentQuestion?.questionType !== 'tt'">
            <div class="svona-qdiv">
                <div class="svona-qicon" [hidden]="currentQuestion?.questionIcon === undefined || currentQuestion?.questionIcon === ''"><img src="{{currentQuestion?.questionIcon}}" /></div>
                <div class="svona-qtitle" [innerHTML]="currentQuestion?.questionText"></div>
            </div>
            <div class="svq-opthead row col bs-popover-top form-control slick-track">{{currentQuestion?.optionsInstruction}}</div>
            <div class="row col" > 
                <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control col-4 form-control-sm" placeholder="Enter value for deal"  id="" name="" (keyup)="enableTtSave()" [(ngModel)]="dldata.ttqanswer1">
                <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control col-4 form-control-sm ml-2" placeholder="Enter value for pitch" id="" name="" (keyup)="enableTtSave()" [(ngModel)]="dldata.ttqanswer2">
                <button class="btn s-btn col-2 ml-2" [disabled]="this.showdl1form === false" (click)="datalake_ttsave()">Save Answer</button>
            </div>
        </div>
        <div class="svq-body cscroll svona dlake w-75" [hidden]="currentQuestion?.questionType !== 'mcs'">
            <div class="svona-qdiv">
                <div class="svona-qicon" [hidden]="currentQuestion?.questionIcon === undefined || currentQuestion?.questionIcon === ''"><img src="{{currentQuestion?.questionIcon}}" /></div>
                <div class="svona-qtitle" [innerHTML]="currentQuestion?.questionText"></div>
            </div>
             <div class="svq-rp h-25 w-100">
                <div class="svq-opthead">{{currentQuestion?.optionsInstruction}}</div>
                <div class="svq-optbox">
                    <div class="row cscroll">
                        <div class="svq-optcase col-12 col-lg-2 col-md-6 col-sm-6 col-xs-12" *ngFor="let opt of currentQuestion?.options;  let i = index;" >
                            <div class="svq-optmask" *ngIf="userAnswers[currentQuestionIndex]?.answers.length >= 1"></div>
                            <div class="svq-opt" [ngClass]="{'selected': opt.selected === true }" (click)="mcsToggleOption(opt)" title="{{opt.label}}">
                                <fa-icon [icon]="['far', 'circle']" *ngIf="opt.selected === false"></fa-icon>
                                <fa-icon [icon]="['fas', 'check-circle']" *ngIf="opt.selected === true"></fa-icon>
                                <div class="svq-optlbl">{{opt.label}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="svq-body cscroll svona dlake w-75" [hidden]="currentQuestion?.questionType !== 'mcm2'">
            <div class="svona-qdiv">
                <div class="svona-qicon" [hidden]="currentQuestion?.questionIcon === undefined || currentQuestion?.questionIcon === ''"><img src="{{currentQuestion?.questionIcon}}" /></div>
                <div class="svona-qtitle" [innerHTML]="currentQuestion?.questionText"></div>
            </div>
             <div class="svq-rp h-25 w-100">
                <div class="svq-opthead">{{currentQuestion?.optionsInstruction}}</div>
                <div class="svq-optbox">
                    <div class="row cscroll">
                        <div class="svq-optcase col-12 col-lg-2 col-md-6 col-sm-6 col-xs-12" *ngFor="let opt of currentQuestion?.options;  let i = index;" >
                            <div class="svq-optmask" *ngIf="userAnswers[currentQuestionIndex]?.answers.length >= 2"></div>
                            <div class="svq-opt" [ngClass]="{'selected': opt.selected === true }" (click)="mcm2ToggleOption(opt)" title="{{opt.label}}">
                                <fa-icon [icon]="['far', 'circle']" *ngIf="opt.selected === false"></fa-icon>
                                <fa-icon [icon]="['fas', 'check-circle']" *ngIf="opt.selected === true"></fa-icon>
                                <div class="svq-optlbl">{{opt.label}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="svq-body cscroll svona dlake w-75" [hidden]="currentQuestion?.questionType !== 'mcm'">
            <div class="svona-qdiv">
                <div class="svona-qicon" [hidden]="currentQuestion?.questionIcon === undefined || currentQuestion?.questionIcon === ''"><img src="{{currentQuestion?.questionIcon}}" /></div>
                <div class="svona-qtitle" [innerHTML]="currentQuestion?.questionText"></div>
            </div>
             <div class="svq-rp h-25  w-100">
                <div class="svq-opthead">{{currentQuestion?.optionsInstruction}}</div>
                <div class="svq-optbox">
                    <div class="row cscroll">
                        <div class="svq-optcase col-12 col-lg-2 col-md-6 col-sm-6 col-xs-12" *ngFor="let opt of currentQuestion?.options;  let i = index;" >
                            <div class="svq-optmask" *ngIf="userAnswers[currentQuestionIndex]?.answers.length >= 3"></div>
                            <div class="svq-opt" [ngClass]="{'selected': opt.selected === true }" (click)="mcmToggleOption(opt)" title="{{opt.label}}">
                                <fa-icon [icon]="['far', 'circle']" *ngIf="opt.selected === false"></fa-icon>
                                <fa-icon [icon]="['fas', 'check-circle']" *ngIf="opt.selected === true"></fa-icon>
                                <div class="svq-optlbl">{{opt.label}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




















        <div class="svq-body cscroll svona" [hidden]="currentQuestion?.questionType !== 'dl1'">
            <div class="svona-qdiv">
                <div class="svona-qicon" [hidden]="currentQuestion?.questionIcon === undefined || currentQuestion?.questionIcon === ''"><img src="{{currentQuestion?.questionIcon}}" /></div>
                <div class="svona-qtitle" [innerHTML]="currentQuestion?.questionText"></div>
            </div>
            <div class="row col" > 
                <select class="form-control col-4 form-control-sm"  id="" name="" (change)="enableSave()" [(ngModel)]="dldata.dloption">
                    <option value="">Select</option>
                    <option value="Yes">YES</option>
                    <option value="No">NO</option>
                </select>
                <button class="btn s-btn col-2 ml-2" [disabled]="this.showdl1form === false" (click)="datalake_dl1()">Save Answer {{showdl1form}}</button>
            </div>
        </div>


    <div class="svq-body cscroll svcva" [hidden]="currentQuestion?.questionType !== 'cva'">
        <div class="svq-lp">
            <div class="svq-qbox">
                <div class="svq-icon" [hidden]="currentQuestion?.questionIcon === undefined || currentQuestion?.questionIcon === ''"><img src="{{currentQuestion?.questionIcon}}" /></div>
                <div class="svq-qtitle" [innerHTML]="currentQuestion?.questionText"></div>
                <div class="svq-qtitle blnk"><p [innerHTML]="currentQuestion?.questionInstruction"></p></div>
            </div>
            <div class="svq-obox">
                <div class="svq-uops  cscroll">
                    <div class="row">
                        <div class="svq-optcase col-6" *ngFor="let opt of userAnswers[currentQuestionIndex]?.answers;  let i = index;" >
                            <div class="svq-opt" title="{{opt.label}}">
                                <fa-icon [icon]="['fas', 'check-circle']" *ngIf="opt.selected === true"></fa-icon>
                                <div class="svq-optlbl">{{opt.label}}</div>
                                <fa-icon class="svg-uoptclose" (click)="cvaToggleOption(opt)" [icon]="['fas', 'times']" title="Remove Option"></fa-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="svq-ofoot">
                    <div class="svq-uopscount">Total Chosen: {{userAnswers[currentQuestionIndex]?.answers.length}} / 10 Required</div>
                </div>
            </div>
        </div>
        <div class="svq-rp">
            <div class="svq-opthead">{{currentQuestion?.optionsInstruction}}</div>
            <div class="svq-optbox">
                <div class="row cscroll">
                    <div class="svq-optcase col-12 col-lg-2 col-md-6 col-sm-6 col-xs-12" *ngFor="let opt of currentQuestion?.options;  let i = index;" >
                        <div class="svq-optmask" *ngIf="userAnswers[currentQuestionIndex]?.answers.length >= 10"></div>
                        <div class="svq-opt" [ngClass]="{'selected': opt.selected === true }" (click)="cvaToggleOption(opt)" title="{{opt.label}}">
                            <fa-icon [icon]="['far', 'circle']" *ngIf="opt.selected === false"></fa-icon>
                            <fa-icon [icon]="['fas', 'check-circle']" *ngIf="opt.selected === true"></fa-icon>
                            <div class="svq-optlbl">{{opt.label}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="svq-body cscroll svona" [hidden]="currentQuestion?.questionType !== 'ona'">
    <div class="svona-qdiv">
        <div class="svona-qicon" [hidden]="currentQuestion?.questionIcon === undefined || currentQuestion?.questionIcon === ''"><img src="{{currentQuestion?.questionIcon}}" /></div>
        <div class="svona-qtitle" [innerHTML]="currentQuestion?.questionText"></div>
    </div>
    <div class="svona-qbody">
        <div class="svona-lp cscroll">
            <div class="svona-lpcase">
                <div class="svona-lpins">{{currentQuestion?.questionInstruction}}</div>
                <div class="svona-lpins1">{{currentQuestion?.optionsInstruction}}</div>
                <div class="svona-upnls">
                    <div class="svona-upnl">
                       <div class="ng-autocomplete">
                            <ng-autocomplete #auto [data]="onaEmp.data" [(ngModel)]="onaEmp.obj" initialValue="{{onaEmp.name}}" placeHolder="Type to search.." [searchKeyword]="onaEmp.keyword" (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate" [minQueryLength]="3" [notFoundTemplate]="notFoundTemplate"></ng-autocomplete>

                            <ng-template #itemTemplate let-item>
                                <a [innerHTML]="item.searchEmpString" class="svona-empbtn"></a>
                            </ng-template>

                            <ng-template #notFoundTemplate let-notFound>
                                <div [innerHTML]="notFound"></div>
                            </ng-template>
                        </div>
                    </div>
                    <div class="svona-upnl ratepnl">
                        <div class="ratingstars">
                            <div class="ratinglabel">Provide rating</div>
                            <div class="svona-rater"><ng5-slider [(value)]="onaEmp.ratestar" [options]="onaEmp.onaSliderOptions" (userChange)="onaSetRating(onaEmp.ratestar)"></ng5-slider></div>
                            <div class="svona-rates">
                                <div class="svona-ratesd bk"><div class="svona-ratesdcase"><div class="svona-ratestar" *ngFor="let number of [0,1,2,3,4]"><fa-icon [icon]="['far', 'star']" ></fa-icon></div></div></div>
                                <div class="svona-ratesd fr" [style.width.%]="onaEmp.rating * 20"><div class="svona-ratesdcase"><div class="svona-ratestar" *ngFor="let number of [0,1,2,3,4]" ><fa-icon [icon]="['fas', 'star']" ></fa-icon></div></div></div>
                            </div>
                            <!--                                        <div class="ratinglabel val" *ngIf="onaEmp.rating !== '' && onaEmp.rating > 0">{{onaEmp.rating}}</div>-->
                        </div>
                    </div>
                </div>
                <div class="svona-upbtn">
                    <button class="btn p-btn" (click)="onaAddEmp()" [disabled]="onaEmp.name === '' || onaEmp.rating === 0 || onaEmp.rating === '' || userAnswers[currentQuestionIndex]?.answers.length === 3">Add</button>
                    <div class="alert alert-danger alert-dismissible fade" role="alert" [hidden]="onaEmp.error !== true">
                        Select employee from list.
                    </div>
                </div>
            </div>
        </div>
        <div class="svona-rp">
            <div class="svq-optbox cscroll">
                <div class="row">
                    <div class="svq-optcase" *ngFor="let opt of userAnswers[currentQuestionIndex]?.answers;  let i = index;" >
                       <div class="svq-opt" title="{{opt.empName}}">
                        <fa-icon [icon]="['fas', 'user-check']" class="user-check"></fa-icon>
                        <div class="svq-optlbl">
                            <h2>{{opt.empName}}</h2>
                            <div class="ratediv">
                                <div class="svona-rates">
                                    <div class="svona-ratesd bk"><div class="svona-ratesdcase"><div class="svona-ratestar" *ngFor="let number of [0,1,2,3,4]"><fa-icon [icon]="['far', 'star']" ></fa-icon></div></div></div>
                                    <div class="svona-ratesd fr" [style.width.%]="opt.empRating * 20"><div class="svona-ratesdcase"><div class="svona-ratestar" *ngFor="let number of [0,1,2,3,4]" ><fa-icon [icon]="['fas', 'star']" ></fa-icon></div></div></div>
                                </div>
                                <div class="svona-rateslbl">{{opt.empRating}}</div>
                            </div>
                        </div>
                        <fa-icon class="svg-uoptclose" (click)="onaRemoveUser(opt)" [icon]="['fas', 'times']" title="Remove Option"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="svq-ofoot">
            <div class="svq-uopscount">Total Chosen: {{userAnswers[currentQuestionIndex]?.answers.length}} / 3 Required</div>
        </div>
    </div>
</div>
</div>

<div class="svq-body cscroll sveum" [hidden]="currentQuestion?.questionType !== 'eum'">
    <div class="sveum-qdiv">
        <div class="sveum-lt">
            <div class="sveum-lpins">{{currentQuestion?.questionInstruction}}</div>
        </div>
    </div>
    <div class="sveum-qbody">
       <div class="sveum-opanel">
        <div class="sveum-lp" style="display: none;">
           <div class="sveum-oplist">
            <div class="sveum-oplhead">{{currentQuestion?.optionsInstruction}}</div>
            <div class="sveum-oplbody cscroll">
                <div class="sveum-optcase" *ngFor="let opt of currentQuestion?.options;  let i = index;">
                    <div class="list-group" id="lgv_{{currentQuestionIndex}}_{{i+1}}" data-da="lgv" (click)="eumHighlightOpts(opt.label)">
                        <div class="list-group-item-dummy"></div>
                        <div class="list-group-item-dummy"></div>
                        <div class="list-group-item" title="{{opt.label}}" (click)="eumHighlightOpts(opt.label)">
                            <div class="list-group-index"></div><div class="list-group-label">{{opt.label}}</div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="sveum-rp  cscroll">
       <div class="row">
           <div class="sveum-rpcase col-12 col-lg-4 col-md-6 col-sm-6 col-xs-12 "  *ngFor="let optb of currentQuestion?.optBuckets;  let i = index;"   id="nxt_{{currentQuestionIndex}}_{{i+1}}" [ngClass]="{'displayvisible': optb.active !== true}">
            <div class="sveum-oplist" >
                <div class="sveum-oplhead">
                    <div class="sveum-oplicon" [hidden]="optb.icon === undefined || optb.icon ===''"><img src="{{optb.icon}}" /></div>{{optb.label}}
                    <div class="sveum-oplhl" (click)="eumHighlightBktOpts(optb.label)" [ngClass]="{'highlighted': optb.highlighted === true }" title="Highlight options for {{optb.label}}">
                        <fa-icon [icon]="['far', 'lightbulb']" [hidden]="optb.highlighted === true"></fa-icon>
                        <fa-icon [icon]="['fas', 'lightbulb']" [hidden]="optb.highlighted !== true"></fa-icon>
                    </div>
                </div>
                <div class="sveum-oplbody list-group cscroll highlighted_{{optb.highlighted}}"  id="lgo_{{currentQuestionIndex}}_{{i+1}}" data-da="lgo" >
                    <div class="list-group-item" *ngFor="let opt of currentQuestion?.options;  let i = index;" title="{{opt.label}}"  (click)="eumHighlightOpts(opt.label)">
                        <div class="list-group-index">{{i+1}}</div><div class="list-group-label">{{opt.label}}</div>
                    </div>
                </div>
                <button class="btn s-btn next_{{currentQuestionIndex}}_{{i+1}}" (click)="enablenextoption(i)">CONFIRM </button>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="svfoot">
         <div class="svfootdiv">Copyright © {{currentYear}} Culturelytics Pvt. Ltd. </div>
         <div class="svf-btns" [hidden]="surveyView !== 'survey'">
            <button *ngIf="currentQuestionIndex < (survey?.questions.length - 1)" class="btn s-btn" (click)="nextQuestion()" [disabled]="this.userAnswers[this.currentQuestionIndex]?.answered !== true">Continue<fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon></button>
            <button *ngIf="currentQuestionIndex === (survey?.questions.length - 1)" class="btn s-btn" (click)="finishSurvey()" [disabled]="this.userAnswers[this.currentQuestionIndex]?.answered !== true">Finish<fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon></button>
         </div>
    </div>
</div>