<div class="dbk adqc {{project?.project_variation_type}}">
	<div class="row">
		<div class="col-lg-12 col-md-12">
			<div class="dbk-box">
				<!-- <div class="dbkb-head">
					<h6 class="dbkb-title">DEFINITION:</h6>
				</div> -->
				<p><span class="dbkb-title" style="font-weight: 700;">DEFINITION:</span> Increasingly, organisations must be highly agile in responding to continuous change in the marketplace. In this environment, employees’ ability to adapt is a critical success factor. Our Adaptability Quotient measures employees’ adaptability – whether they are receptive or resistant to change. We also take the pulse of employee Mood, one factor shaping people’s adaptability. </p>
				<!-- <div class="dbkb-head">
					<h6 class="dbkb-title">SOURCE:</h6>
				</div> -->
				<p><span class="dbkb-title" style="font-weight: 700;">SOURCE:</span> Proprietary Pulse survey</p>
								
				<!-- <div class="dbkb-body">
					<p  [innerHTML]="adaptqdash.executiveSummary" style="text-align: left"></p>
				</div> -->
			</div>
		</div>
	</div>
  <div class="col-lg-12 col-md-12 col-12 mb-0">
    <div class="card carddiv_height">
        <div class="card-header cardheader row pt-0 pb-0 text-right" style="background-color: #E7E5E6 !important;">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mt-2 mb-2 offset-lg-4 offset-md-4">
               <p class="mb-0 pt-2" style="font-size: 15px; color:black;">Level:</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mt-2 mb-2 p-0 ">
                <select class="selcls form-control"  (change)="changelocation($event)" >
                  <option value="l1">Ayurvet Overall</option>
                  <option value="l2">Senior Level</option>
                  <option   value="l3">Middle Level</option>
                  <option value="l4">Junior Level</option>
                  <!-- <option value="l5">Corporate Centre</option> -->

                </select>
            </div>
        </div>
    </div>
</div>
<br>

	<div class="row" style="padding-bottom: 20px;">
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right dotted">
			<div class="row" style="margin-bottom: 10px;">
				<div class="col-12">
					<div class="dbk-box">
						<div class="dbkb-head">
							<h6 class="dbkb-title text-center"><fa-icon [icon]="['fas', 'tachometer-alt']"></fa-icon>OVERALL RATING</h6>
						</div>
						<div class="dbkb-body orclass" title="{{adaptqdash.opinion_index}}" style=" height: 120px;">
                           <div id="speedometer">
							  <span class="barometer" style="background-image: url(assets/images/graph.png);"></span>
                <span class="needle1" *ngIf="selectedLocation=='l1'"></span>
                <span class="needle2" *ngIf="selectedLocation=='l2'"></span>
                <span class="needle1" *ngIf="selectedLocation=='l3'||selectedLocation=='l4'||selectedLocation=='l5'"></span>
							  <span><p class="orvalues text-white bold">{{adaptqdash.opinion_index}}</p></span>
							</div>
                        </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
			<div class="row" style="margin-bottom: 10px;">
				<div class="col-12">
					<div class="dbk-box">
						<div class="dbkb-head">
							<h6 class="dbkb-title text-center" > Employee Orientation towards change</h6>
						</div>
						<div class="dbkb-body">
							<div class="pplorgscore">
								<div class="orgscore1" >
									<p class="text-center" style="font-size: 10px;margin-bottom: 0px;">Range</p>
									<div class=" orgscore_startdiv" style="height: 120px;">

									</div>
									<p class="text-center" style="font-size: 10px;margin-bottom: 0px;">No. of Employees</p>
								</div>
								<div class="orgscore" >
									<p class="text-center orgscore_lbl" style="color: #deb525;">Not Adaptive</p>
									<div class=" orgscorediv border">
										<div class="position-relative text-center"  [style.height.%]="100-notAdaptive" style="box-shadow: inset 0 0 10px #cccccc;">
											<p class="pos_text_bottom position-absolute">{{notAdaptive}}%</p>
										</div>
										<div class="" [style.height.%]="notAdaptive" style="background-color: #f9cf3d;"></div>
									</div>
									<p class="text-center orgscore_lbl" style="color: #000;">{{notAdaptiveCount}}</p>
								</div>
								<div class="orgscore" >
									<p class="text-center orgscore_lbl" style="color:#deb525;">Less adaptive</p>
									<div class=" orgscorediv border">
										<div class="position-relative text-center" [style.height.%]="100-lessAdaptive" style="box-shadow: inset 0 0 10px #cccccc;">
											<p class="pos_text_bottom position-absolute">{{lessAdaptive}}%</p>
										</div>
										<div class="" [style.height.%]="lessAdaptive" style="background-color: #f9cf3d;"></div>
									</div>
									<p class="text-center orgscore_lbl" style="color: #000;">{{lessAdaptiveCount}}</p>
								</div>
								<div class="orgscore " >
									<p class="text-center orgscore_lbl" style="color: #deb525;">Neutral</p>
									<div class=" orgscorediv border">
										<div class="position-relative text-center"  [style.height.%]="100-neutral" style="box-shadow: inset 0 0 10px #cccccc;">
											<p class="pos_text_bottom position-absolute">{{neutral}}%</p>
										</div>
										<div class=""  [style.height.%]="neutral" style="background-color: #f9cf3d;"></div>
									</div>
									<p class="text-center orgscore_lbl" style="color: #000;">{{neutralCount}}</p>
								</div>
								<div class="orgscore" >
									<p class="text-center orgscore_lbl" style="color: #deb525;">More Adaptive</p>
									<div class="orgscorediv border">
										<div class="position-relative text-center" [style.height.%]="100-moreAdaptive" style="box-shadow: inset 0 0 10px #cccccc;">
											<p class="pos_text_bottom position-absolute">{{moreAdaptive}}%</p>
										</div>
										<div class="" style="background-color: #f9cf3d;" [style.height.%]="moreAdaptive"></div>
									</div>
									<p class="text-center orgscore_lbl" style="color: #000;"><!--span [CountTo]="highlyAdaptive" [from]="0" [duration]="1"></span-->{{moreAdaptiveCount}}</p>
								</div>
								<div class="orgscore " >
									<p class="text-center orgscore_lbl" style="color:green;">Highly Adaptive</p>
									<div class=" orgscorediv border">

										<div class="position-relative text-center"  [style.height.%]="100-highlyAdaptive" style="box-shadow: inset 0 0 10px #cccccc;">
											<p class="pos_text_bottom position-absolute">{{highlyAdaptive}}%</p>
										</div>
										<div class=""  [style.height.%]="highlyAdaptive" style="background-color: green;"></div>
									</div>
									<p class="text-center orgscore_lbl" style="color: #000;">{{highlyAdaptiveCount}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" >
		<!-- <div class="col-12">
			<h6 style="font-size: 12px;font-weight: 700;"><fa-icon [icon]="['far', 'tachometer-alt']" ></fa-icon> Net Promoter Score</h6>
		</div> -->
		<!-- <div class="col-lg-3 col-md-3 col-sm-20 col-xs-20 ipad-view">
			<div class="border mibox m-auto" >
				<div class="dbkb-body orclass dbkb-ipad " title="10%">
                   <div id="speedometer_mi">
					  <span class="barometer_mi" style="font-size:50px;margin-top:10%;text-align:center"><b>{{nps}}%</b></span>

					</div>
                </div>

			</div> -->
			<!-- <div style="position: relative; width: 200px; height: 150px; border: 1px solid black;">
				<div style="position: absolute;bottom: 0; width: 100%; height: 50px; border: 1px solid red;"></div>
			</div> -->
		<!-- </div> -->
		<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 col-4">
			&nbsp;
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bold" style="background-color:#e7e5e6;padding-top: 1%;text-align: center;height:140px;">
			<div class="border mibox" style="height:60px;">
				<h6 style="font-size: 12px;font-weight: 700;"><fa-icon [icon]="['far', 'tachometer-alt']" ></fa-icon> Net Promoter Score</h6>
				<div *ngIf="selectedLocation=='l1'"><span><h2 style="color:green; font-size: 24px;font-weight: 700;" ><b>{{nps}}%</b></h2></span> </div>
				<div *ngIf="selectedLocation=='l2'"><span><h2 style="color:orange; font-size: 24px;font-weight: 700;" ><b>{{nps}}%</b></h2></span> </div>
				<div *ngIf="selectedLocation=='l3'"><span><h2 style="color:orange; font-size: 24px;font-weight: 700;" ><b>{{nps}}%</b></h2></span> </div>
				<div *ngIf="selectedLocation=='l4'"><span><h2 style="color:green; font-size: 24px;font-weight: 700;" ><b>{{nps}}%</b></h2></span> </div>
				<div *ngIf="selectedLocation=='l5'"><span><h2 style="color:red; font-size: 24px;font-weight: 700;" ><b>{{nps}}%</b></h2></span> </div>

                <!-- <div *ngIf="currentView=='tata'"><span><h2 style="color:red" ><b>{{overallRating}}</b></h2></span> </div>
                <div *ngIf="currentView=='jsw'"><span><h2 style="color:green" ><b>{{overallRating}}</b></h2></span> </div>
                <div *ngIf="currentView=='sail'"><span><h2 style="color:orange" ><b>{{overallRating}}</b></h2></span> </div> -->
				<!-- <h6 style="font-size: 24px;font-weight: 700;"><fa-icon [icon]="['far', 'tachometer-alt']" ></fa-icon> {{nps}}%</h6> -->

				<!-- <div class="dbkb-body orclass dbkb-ipad " title="{{nps}}%">
                   <div id="speedometer_mi">
					  <span class="barometer_mi" style="font-size:24px;text-align:center"><b>{{nps}}%</b></span>

					</div>
				</div> -->
				<h6 style="font-size: 10px;font-weight: 500;"> Less than 19.9%: Immediate Attention</h6>
				<h6 style="font-size: 10px;font-weight: 500;"> 20% to 49.9%: Needs Improvement</h6>
				<h6 style="font-size: 10px;font-weight: 500;"> Greater than 50%: Healthy</h6>


			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bold" style="background-color:#e7e5e6;padding-top: 3%;text-align: center;height:140px;">
			<div class="border mibox" style="height:60px;">
				<h6 style="font-size: 12px;font-weight: 700;"><fa-icon [icon]="['far', 'tachometer-alt']" ></fa-icon> Adaptability Towards Change</h6>
				<div class="dbkb-body orclass dbkb-ipad " title="{{adapq.overall_adq_score}}%">
                   <div id="speedometer_mi" >
					  <span class="barometer_mi" style="font-size:24px;margin-top:3%;text-align:center; color:orange;"><b>{{adapq.overall_adq_score}}%</b></span>

					</div>
                </div>

			</div>
		</div>

		<!--
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 col-4 row-padding">
			<a href="#tenure">
				<div class="moodindex border text-center">
					<p class="mi_circle"><fa-icon [icon]="['fas', 'user-cog']" ></fa-icon></p>
					<p style="color:black;white-space: pre-wrap">Tenure-wise demographics</p>
				</div>
			</a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 col-4 row-padding">
			<a href="#gender">
				<div class="moodindex border text-center">
					<p class="mi_circle"><fa-icon [icon]="['fas', 'user-friends']" ></fa-icon></p>
					<p style="color:black;white-space: pre-wrap">Gender-wise demographics</p>
				</div>
			</a>
		</div> -->
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-12">
			<div class="row" style="padding: 0px 15px;">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: #e7e5e6;border-right: 1px solid white;">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-12"><h6 class="md-indx-head"><fa-icon [icon]="['far', 'smile']" ></fa-icon> MOOD INDEX</h6></div>
						<div class="col-lg-9 col-md-9 col-lg-12 col-sm-12 col-12">
							<div  class="moodindex_indicator text-center" *ngFor="let modindx of mdindex"  [style.color]="modindx.color">
								<p class=""> <fa-icon  [icon]="['fas', modindx.icon]" [style.color]="modindx.color" style="font-size: 25px;"></fa-icon> </p>
								<p style="width: 100%;height: 3px;background-color: #188a34;"></p>
								<p>{{modindx.label}}</p>
								<p class="bold">{{modindx.modindex}}%</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- <div class="row" id="age">
		<h4  class="col-lg-12 col-md-12 col-12 age-mbl"> Age-wise demographics </h4>
		<div class="col-lg-6 col-md-6 col-12 age-mbl" style="margin-bottom: 20px;">
			<div class="card carddiv_height" style="background-color: #e7e5e6;">
				<div class="card-header cardheader"><span>20-25 Years</span><span class="float-right"> {{a1p}} Participants</span></div>
				<div class="">
					<div class="text-center demographics_mi_parent">
						<p style="color:rgb(255, 192, 46);">Adaptability to Change Score -<strong> {{a1a}}</strong></p>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #188a34;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:#90b240;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #90b240;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ffc02e;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ff622b;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #d94334;"></p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-lg-6 col-md-6 col-6" style="padding-right: 1px;border-right: 1px solid white;">
						<p class="cardheader" style="background-color:#6bc96b;">Positive Value</p>
						<p class="md-in-footer">{{a1pv}}</p>
					</div>
					<div class="col-lg-6 col-md-6 col-6" style="padding-left: 1px;">
						<p class="cardheader"  style="background-color:#face3d;">Potentially Limiting</p>
						<p class="md-in-footer">{{a1lv}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-12 age-mbl" style="margin-bottom: 20px;">
			<div class="card carddiv_height" style="background-color: #e7e5e6;">
				<div class="card-header cardheader"><span>26-30 Years</span><span class="float-right"> {{a2p}} Participants</span></div>
				<div class="">
					<div class="text-center demographics_mi_parent">
						<p  style="color:rgb(255, 192, 46);">Adaptability to Change Score -<strong> {{a2a}}</strong></p>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #188a34;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #90b240;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:#ffc02e;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ffc02e;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ff622b;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #d94334;"></p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-lg-6 col-md-6 col-6" style="padding-right: 1px;border-right: 1px solid white;">
						<p class="cardheader" style="background-color:#6bc96b;">Positive Value</p>
						<p class="md-in-footer">{{a2pv}}</p>
					</div>
					<div class="col-lg-6 col-md-6 col-6" style="padding-left: 1px;">
						<p class="cardheader"  style="background-color:#face3d;">Potentially Limiting</p>
						<p class="md-in-footer">{{a2lv}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-12 age-mbl" style="margin-bottom: 20px;">
			<div class="card carddiv_height" style="background-color: #e7e5e6;">
				<div class="card-header cardheader"><span>31-40 Years</span><span class="float-right"> {{a3p}} Participants</span></div>
				<div class="">
					<div class="text-center demographics_mi_parent">
						<p  style="color:rgb(255, 192, 46);">Adaptability to Change Score -<strong> {{a3a}}</strong></p>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #188a34;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #90b240;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:#ffc02e;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ffc02e;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ff622b;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #d94334;"></p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-lg-6 col-md-6 col-6" style="padding-right: 1px;border-right: 1px solid white;">
						<p class="cardheader" style="background-color:#6bc96b;">Positive Value</p>
						<p class="md-in-footer">{{a3pv}}</p>
					</div>
					<div class="col-lg-6 col-md-6 col-6" style="padding-left: 1px;">
						<p class="cardheader"  style="background-color:#face3d;">Potentially Limiting</p>
						<p class="md-in-footer">{{a3lv}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-12 age-mbl" style="margin-bottom: 20px;">
			<div class="card carddiv_height" style="background-color: #e7e5e6;">
				<div class="card-header cardheader"><span>41 & above</span><span class="float-right">{{a4p}} Participants</span></div>
				<div class="">
					<div class="text-center demographics_mi_parent">
						<p  style="color:rgb(255, 192, 46);">Adaptability to Change Score -<strong> {{a4a}}</strong></p>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #188a34;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:#90b240;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #90b240;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ffc02e;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ff622b;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #d94334;"></p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-lg-6 col-md-6 col-6" style="padding-right: 1px;border-right: 1px solid white;">
						<p class="cardheader" style="background-color:#6bc96b;">Positive Value</p>
						<p class="md-in-footer">{{a4pv}}</p>
					</div>
					<div class="col-lg-6 col-md-6 col-6" style="padding-left: 1px;">
						<p class="cardheader"  style="background-color:#face3d;">Potentially Limiting</p>
						<p class="md-in-footer">{{a4lv}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="tenure">
		<h4 class="col-lg-12 col-md-12 col-12 age-mbl "> Tenure-wise demographics </h4>
		<div class="col-lg-6 col-md-6 col-12 age-mbl" style="margin-bottom: 20px;">
			<div class="card carddiv_height" style="background-color: #e7e5e6;">
				<div class="card-header cardheader"><span>1-3 Years</span><span class="float-right">{{t1p}} Participants</span></div>
				<div class="">
					<div class="text-center demographics_mi_parent">
						<p style="color:rgb(255, 192, 46);">Adaptability to Change Score -<strong> {{t1a}}</strong></p>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #188a34;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:#90b240;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #90b240;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ffc02e;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ff622b;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #d94334;"></p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-lg-6 col-md-6 col-6" style="padding-right: 1px;border-right: 1px solid white;">
						<p class="cardheader" style="background-color:#6bc96b;">Positive Value</p>
						<p class="md-in-footer">{{t1pv}}</p>
					</div>
					<div class="col-lg-6 col-md-6 col-6" style="padding-left: 1px;">
						<p class="cardheader"  style="background-color:#face3d;">Potentially Limiting</p>
						<p class="md-in-footer">{{t1lv}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-12 age-mbl" style="margin-bottom: 20px;">
			<div class="card carddiv_height" style="background-color: #e7e5e6;">
				<div class="card-header cardheader"><span>4-5 Years</span><span class="float-right"> {{t2p}} Participants</span></div>
				<div class="">
					<div class="text-center demographics_mi_parent">
						<p  style="color:rgb(255, 192, 46);">Adaptability to Change Score -<strong> {{t2a}}</strong></p>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #188a34;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #90b240;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:#ffc02e;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ffc02e;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ff622b;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #d94334;"></p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-lg-6 col-md-6 col-6" style="padding-right: 1px;border-right: 1px solid white;">
						<p class="cardheader" style="background-color:#6bc96b;">Positive Value</p>
						<p class="md-in-footer">{{t2pv}}</p>
					</div>
					<div class="col-lg-6 col-md-6 col-6" style="padding-left: 1px;">
						<p class="cardheader"  style="background-color:#face3d;">Potentially Limiting</p>
						<p class="md-in-footer">{{t2lv}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-12 age-mbl" style="margin-bottom: 20px;">
			<div class="card carddiv_height" style="background-color: #e7e5e6;">
				<div class="card-header cardheader"><span>6-10 Years</span><span class="float-right"> {{t3p}} Participants</span></div>
				<div class="">
					<div class="text-center demographics_mi_parent">
						<p  style="color:rgb(255, 192, 46);">Adaptability to Change Score -<strong> {{t3a}}</strong></p>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #188a34;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #90b240;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:#ffc02e;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ffc02e;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ff622b;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #d94334;"></p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-lg-6 col-md-6 col-6" style="padding-right: 1px;border-right: 1px solid white;">
						<p class="cardheader" style="background-color:#6bc96b;">Positive Value</p>
						<p class="md-in-footer">{{t3pv}}</p>
					</div>
					<div class="col-lg-6 col-md-6 col-6" style="padding-left: 1px;">
						<p class="cardheader"  style="background-color:#face3d;">Potentially Limiting</p>
						<p class="md-in-footer">{{t3lv}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-12 age-mbl" style="margin-bottom: 20px;">
			<div class="card carddiv_height" style="background-color: #e7e5e6;">
				<div class="card-header cardheader"><span>11 & above</span><span class="float-right">{{t4p}} Participants</span></div>
				<div class="">
					<div class="text-center demographics_mi_parent">
						<p  style="color:rgb(255, 192, 46);">Adaptability to Change Score -<strong> {{t4a}}</strong></p>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #188a34;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:#90b240;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #90b240;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ffc02e;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ff622b;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #d94334;"></p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-lg-6 col-md-6 col-6" style="padding-right: 1px;border-right: 1px solid white;">
						<p class="cardheader" style="background-color:#6bc96b;">Positive Value</p>
						<p class="md-in-footer">{{t4pv}}</p>
					</div>
					<div class="col-lg-6 col-md-6 col-6" style="padding-left: 1px;">
						<p class="cardheader"  style="background-color:#face3d;">Potentially Limiting</p>
						<p class="md-in-footer">{{t4lv}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="gender">
		<h4  class="col-lg-12 col-md-12 col-12 age-mbl">Gender-wise demographics </h4>
		<div class="col-lg-6 col-md-6 col-12 age-mbl" style="margin-bottom: 20px;">
			<div class="card carddiv_height" style="background-color: #e7e5e6;">
				<div class="card-header cardheader"><span>Male</span><span class="float-right"> {{g1p}} Participants</span></div>
				<div class="">
					<div class="text-center demographics_mi_parent">
						<p style="color:rgb(255, 192, 46);">Adaptability to Change Score -<strong> {{g1a}}</strong></p>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #188a34;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:#90b240;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #90b240;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ffc02e;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ff622b;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #d94334;"></p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-lg-6 col-md-6 col-6" style="padding-right: 1px;border-right: 1px solid white;">
						<p class="cardheader" style="background-color:#6bc96b;">Positive Value</p>
						<p class="md-in-footer">{{g1pv}}</p>
					</div>
					<div class="col-lg-6 col-md-6 col-6" style="padding-left: 1px;">
						<p class="cardheader"  style="background-color:#face3d;">Potentially Limiting</p>
						<p class="md-in-footer">{{g2pv}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-12 age-mbl" style="margin-bottom: 20px;">
			<div class="card carddiv_height" style="background-color: #e7e5e6;">
				<div class="card-header cardheader"><span>Female</span><span class="float-right"> {{g2p}} Participants</span></div>
				<div class="">
					<div class="text-center demographics_mi_parent">
						<p  style="color:rgb(255, 192, 46);">Adaptability to Change Score -<strong> {{g2a}}</strong></p>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #188a34;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #90b240;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:#ffc02e;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ffc02e;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #ff622b;"></p>
						</div>
						<div  class="demographics_mi text-center">
							<p class=""> <fa-icon  [icon]="['fas', 'smile-beam']" style="font-size: 25px;color:silver;"></fa-icon> </p>
							<p style="width: 100%;height: 3px;background-color: #d94334;"></p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-lg-6 col-md-6 col-6" style="padding-right: 1px;border-right: 1px solid white;">
						<p class="cardheader" style="background-color:#6bc96b;">Positive Value</p>
						<p class="md-in-footer">{{g2pv}}</p>
					</div>
					<div class="col-lg-6 col-md-6 col-6" style="padding-left: 1px;">
						<p class="cardheader"  style="background-color:#face3d;">Potentially Limiting</p>
						<p class="md-in-footer">{{g2lv}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

 -->
