<div class="dbk {{project?.project_variation_type}}">
	<div class="row">
		  <div class="col-lg-12 col-md-12">
			  <div class="dbk-box">
				  <div class="dbkb-head">
					  <h6 class="dbkb-title">EXECUTIVE SUMMARY</h6>
				  </div>
				  <div class="dbkb-body">
					  <p  [innerHTML]="project?.psk.executiveSummary" style="text-align: left"></p>
				  </div>
			  </div>
		  </div>
	  </div>

	  <div class="row">
		  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right dotted">
				<div class="row" style="margin-bottom: 10px;">
					<div class="col-12">
						<div class="dbk-box">
							<div class="dbkb-head">
								<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'star-half-alt']"></fa-icon>OVERALL RATING</h6>
							</div>
							<!-- <div class="dbkb-body">
								<div class="orater" title="{{project?.psk.opinion_index}}">
									<div class="ratediv">
										<div class="rates">
											<div class="ratesd bk"><div class="ratesdcase"><div class="ratestar" *ngFor="let number of [0,1,2,3,4]"><fa-icon [icon]="['far', 'star']" ></fa-icon></div></div></div>
											<div class="ratesd fr" [style.width.%]="project?.psk.opinion_index * 20"><div class="ratesdcase"><div class="ratestar" *ngFor="let number of [0,1,2,3,4]" ><fa-icon [icon]="['fas', 'star']" ></fa-icon></div></div></div>
										</div>
									</div>
									<div class="ratelbl"><span>OPINION INDEX</span></div>
								</div>
							</div> -->
							<div class="dbkb-body orclass" title="{{project?.psk.opinion_index}}" style="height: 120px;">
	                           <div id="speedometer">
								  <span class="barometer" style="background-image: url(assets/images/circle-color.png);"></span>
								  <span class="needle"></span>
								  <span><p class="orvalues text-white bold">3.87</p></span>
								</div>
	                         </div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12" >
						<div class="dbk-box">
							<div class="dbkb-head">
								<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'signal']"></fa-icon>KEY STATISTICS</h6>
							</div>
							<div class="dbkb-body">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-6">
											<span class=" float-left key_statistics_width">
												<p class="key_statistics">
													<strong>
														<!-- {{project?.psk.review}} -->
														<span *ngIf="countUpView == true" [CountTo]="countUpReviews" [from]="0" [duration]="1"></span>
													</strong>
												</p>
												<p class="key_statistics_lable ">Rewiews</p>
											</span>
										</div>
										<div class="col-lg-6 col-md-6 col-6">
											<span class="float-left key_statistics_width" style="">
												<p class="key_statistics">
													<strong>
														<!-- {{project?.psk.interview}} -->
														<span *ngIf="countUpView == true" [CountTo]="countUpInterviews" [from]="0" [duration]="1"></span>
													</strong>
												</p>
												<p class="key_statistics_lable">Interviews</p>
											</span>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12">
											<div class="ceo_approval-ppk">
												<p class="ptag pros-title"><fa-icon [icon]="['far', 'clipboard']"></fa-icon> Leadership Sentiment</p>
												<p class="angular-with-newlines ptag">{{project?.psk.ceo_approval}}% of employees approve of the CEO's performance</p>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-12 col-md-12" >
											<div class="fri_recommend">
												<p class="ptag pros-title"><fa-icon [icon]="['far', 'thumbs-up']"></fa-icon> Recommend to a Friend</p>
												<p class="angular-with-newlines ptag">73%  of people are likely to recommend to a friens</p>
											</div>
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>


		  </div>
		  <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
			<div class="row" style="margin-bottom: 10px;">
				<div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
					<div class="dbk-box">
						<div class="dbkb-head">
							<h6 class="dbkb-title dbk-title-mobile"><fa-icon [icon]="['fas', 'asterisk']"></fa-icon>RATING CRITERIA</h6>
						</div>
						<div class="dbkb-body dbk-mbl ">
							<div class="rcs">
								<div class="rc" *ngFor="let rc of rcs" [ngClass]="{'red': project?.psk[rc.prop] < 2, 'yellow':  project?.psk[rc.prop] >= 2 && project?.psk[rc.prop] < 4, 'green':  project?.psk[rc.prop] >= 4}" >
									<div class="rc-val"><div class="rc-num">{{project?.psk[rc.prop]}}</div><div class="rc-tail"><fa-icon [icon]="['fas', 'circle']"></fa-icon></div></div>
									<div class="rc-case" >
											<div class="rc-icon"><fa-icon [icon]="['fas', rc.icon]"></fa-icon></div>
											<div class="ldBar {{rc.code}}" id="{{rc.code}}" data-preset="circle" ></div>
										<!--div class="kprogress-bar {{rc.code}}" data-percent="0" [ngClass]="{'red': project?.psk[rc.prop] < 3, 'yellow':  project?.psk[rc.prop] > 3 && project?.psk[rc.prop] < 6, 'green':  project?.psk[rc.prop] >= 6}">
											<div class="background"></div><div class="rotate"></div><div class="left"></div><div class="right"></div><div class=""><span class="rc-icon"><fa-icon [icon]="['fas', rc.icon]"></fa-icon></span></div>
										</div-->
									</div>
									<div class="rc-label">{{rc.label}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
					<div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
						<div class="dbk-box">
							<div class="dbkb-head">
								<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'thumbs-up']"></fa-icon>COMPANY INSIGHTS</h6>
							</div>
							<div class="dbkb-body">
								<div class="row">
									<div class="col-lg-6 col-md-6">
										<div class="pros-div text-left" >
											<div class="pros-title">PROS</div>
											<div class="procon-item"> Good company to work with flexible and supportive also good culture</div>
											<div class="procon-item">The organisation ethos and work culture goes hand in hand</div>
											<div class="procon-item">Benefits employees enjoy the most: <br>
												1. Paid holidays and Vacations <br>
												2. Life Insurance/Disability <br>
												3. Paid sick Leave
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6">
										<div class="cons-div text-left">
											<div class="cons-title">CONS</div>
											<div class="procon-item">Lack of professional culture</div>
											<div class="procon-item">HR policies are well defined but seldom implemented </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		  </div>
	  </div>
  </div>
