.container { height: 100%; }
.container > row { height: 100%; }
.navhead { padding: 10px 20px; margin-bottom: 10px; border-bottom: solid 1px #ddd;  }
.nav-link{
    background-color: #f8f9fa;
}

.nav-tabs { border-bottom: 2px solid #DDD; }
.tab-nav > li > a::after { background: ##5a4080 none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}
.nav-tabs > li  {width:20%; text-align:center;}
.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }

.active{
    background-color: #f8f9fa;
}
@media all and (max-width:724px){
.nav-tabs > li > a > span {display:none;}   
.nav-tabs > li > a {padding: 5px 5px;}
}