
            <div class="dbk {{project?.project_variation_type}}">
              <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <div class="dbk-box">

                      <!-- <div class="dbkb-head">
                        <h6 class="dbkb-title">DEFINITION:</h6>
                      </div> -->
                      <div class="dbkb-body">
                        <p style="text-align: left"><span class="dbkb-title" style="font-weight: 700;">DEFINITION: </span>INpressions is an in-depth data scan of the industry to benchmark the client’s reputation as an employer against that of its key competitors. This provides leaders with strategic context for understanding the impact of reputation on performance and for planning relevant interventions.</p>
                      </div>
                      <!-- <div class="dbkb-head">
                        <h6 class="dbkb-title">SOURCE:</h6>
                      </div> -->
                      <div class="dbkb-body">
                        <p style="text-align: left"><span class="dbkb-title" style="font-weight: 700;">SOURCE: </span>Proprietary world wide web data scan</p>
                      </div>

            <div class="row"  style="margin-top: -20px; margin-bottom: 10px">
              <div class="col-lg-12 col-md-12">
                <ul class="nav nav-pills float-right">
                  <li class="nav-item">
                    <a class="nav-link btn btn-sm" [ngClass]="{'active': currentView === 'industry'}" (click)="switchView('industry')">INDUSTRY</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn btn-sm" [ngClass]="{'active': currentView === 'jsw'}" (click)="switchView('jsw')">Natural Remedies</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn btn-sm" [ngClass]="{'active': currentView === 'tata'}" (click)="switchView('tata')">Himalaya Vet.</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn btn-sm" [ngClass]="{'active': currentView === 'sail'}" (click)="switchView('sail')">Indian Herbs</a>
                  </li>
                </ul>
              </div>
            </div>

                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-12 border-right dotted">
                    <div class="row" style="margin-bottom: 10px;">
                      <div class="col-12">
                        <div class="dbk-box">
                          <div class="dbkb-head">
                            <h6 class="dbkb-title text-center"><fa-icon [icon]="['fas', 'tachometer-alt']"></fa-icon>VARIANCE</h6>
                          </div>
                          <div class="dbkb-body orclass" title="{{project?.pskc.opinion_index}}" style="    height: 120px;">
                          <br>
                          <br>

                            <div *ngIf="currentView=='industry'"><span><h2 style="color:orange" ><b>{{overallRating}}</b></h2></span> </div>
                            <div *ngIf="currentView=='tata'"><span><h2 style="color:red" ><b>{{overallRating}}</b></h2></span> </div>
                            <div *ngIf="currentView=='jsw'"><span><h2 style="color:green" ><b>{{overallRating}}</b></h2></span> </div>
                            <div *ngIf="currentView=='sail'"><span><h2 style="color:orange" ><b>{{overallRating}}</b></h2></span> </div>

                                       </div>

                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12" >
                        <div class="dbk-box">
                          <div class="dbkb-head">
                            <h6 class="dbkb-title"><fa-icon [icon]="['fas', 'signal']"></fa-icon>KEY STATISTICS</h6>
                          </div>
                          <div class="dbkb-body">
                              <div class="row">
                                <div class="col-lg-6 col-md-6 col-6">
                                  <span class=" float-left key_statistics_width"><p class="key_statistics"><strong>{{reviews}}</strong></p><p class="key_statistics_lable ">Rewiews</p></span>
                                </div>
                                <div class="col-lg-6 col-md-6 col-6">
                                  <span class="float-left key_statistics_width" style="margin-left: -10px;"><p class="key_statistics"><strong>{{interviews}}</strong></p><p class="key_statistics_lable">Interviews</p></span>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-12 col-md-12">
                                  <div class="ceo_approval-ppk">
                                    <p class="ptag pros-title"><fa-icon [icon]="['far', 'clipboard']"></fa-icon> Leadership Sentiment</p>
                                    <p class="angular-with-newlines ptag">{{approval}}% of employees approve of the CEO's performance</p>
                                  </div>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-lg-12 col-md-12" >
                                  <div class="fri_recommend">
                                    <p class="ptag pros-title"><fa-icon [icon]="['far', 'thumbs-up']"></fa-icon> Recommend to a Friend</p>
                                    <p class="angular-with-newlines ptag">{{recommendation}}%  of people are likely to recommend to a friend</p>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-9 col-12">
                    <div class="row inner-dash-right-panel" >
                      <div class="col-12">
                        <div class="dbk-box">
                          <div class="dbkb-head">
                            <h6 class="dbkb-title"><fa-icon [icon]="['fas', 'asterisk']"></fa-icon>RATING CRITERIA</h6>
                          </div>
                          <div class="dbkb-body">
                            <div class="rcs">
                              <div class="rc" *ngFor="let rc of rcs" [ngClass]="{'red': rc.prop < 3.5, 'yellow':  rc.prop >= 3.5 && rc.prop < 4.5, 'green':  rc.prop >= 4.5}" >
                                <div class="rc-val"><div class="rc-num">{{rc.prop}}</div><div class="rc-tail"><fa-icon [icon]="['fas', 'circle']"></fa-icon></div></div>
                                <div class="rc-case" >
                                    <div class="rc-icon"><fa-icon [icon]="['fas', rc.icon]"></fa-icon></div>
                                    <div class="ldBar {{rc.code}}" id="{{rc.code}}" data-preset="circle" ></div>
                                </div>
                                <div class="rc-label">{{rc.label}}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row" style="margin-bottom: 10px;">
                      <div class="col-12">
                        <div class="dbk-box">
                          <div class="dbkb-head">
                            <h6 class="dbkb-title"><fa-icon [icon]="['fas', 'asterisk']"></fa-icon>RATING CRITERIA</h6>
                          </div>
                          <div class="dbkb-body">
                            <div class="rcs">
                              <div class="rc" *ngFor="let rc of rcs" [ngClass]="{'red': project?.bns[rc.prop] < 3.5, 'yellow':  project?.bns[rc.prop] >= 3.5 && project?.bns[rc.prop] < 4.5, 'green':  project?.bns[rc.prop] >= 4.5}" >
                                <div class="rc-val"><div class="rc-num">{{project?.bns[rc.prop]}}</div><div class="rc-tail"><fa-icon [icon]="['fas', 'circle']"></fa-icon></div></div>
                                <div class="rc-case" >
                                  <div class="rc-icon"><fa-icon [icon]="['fas', rc.icon]" [style.color]="rc.color"></fa-icon></div>
                                  <div class="ldBar {{rc.code}}" id="{{rc.code}}" data-preset="circle" ></div>
                                </div>
                                <div class="rc-label">{{rc.label}}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> -->
              

                  <div class="row mbl-ipad">
                      <div class="col-12">
                        <div class="dbk-box">
                          <div class="dbkb-head">
                            <h6 class="dbkb-title"><fa-icon [icon]="['fas', 'thumbs-up']"></fa-icon>INSIGHTS</h6>
                          </div>
                          <div class="dbkb-body">
                            <div class="row">
                              <div class="col-lg-6 col-md-6">
                                <div class="pros-div text-left" >
                                  <div class="pros-title">PROS</div>
                                  <div class="procon-item">{{pro1}}</div>
                                  <div class="procon-item">{{pro2}}</div>
                                  <div class="procon-item">{{pro3}}</div>
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <div class="cons-div text-left">
                                  <div class="pros-title">CONS</div>
                                  <div class="procon-item">{{con1}}</div>
                                  <div class="procon-item">{{con2}}</div>
                                  <div class="procon-item">{{con3}}</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row inner-dash-right-panel" style="padding-top: 15px;" >
                      <div class="col-12">
                        <div class="dbk-box">
                          <div class="dbkb-head">
                            <h6 class="dbkb-title"><fa-icon [icon]="['fas', 'asterisk']"></fa-icon>Ayurvet RATING</h6>
                          </div>
                          <div class="dbkb-body">
                            <img src="assets/images/jsploverall.jpg" style="height: 115px;width:auto;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>


            
